.badges {
    position: relative;

    &::before,
    &::after
    {
        position: absolute;
        content: '';
        background: transparent;
        border: 2px solid $clr_blue-main;
        width: 9px;
        height: 5px;
        z-index: 1;
    }
    &::before {
        bottom: -4px;
        left: -4px;
        border-top: 2px;
        border-right: 2px;
    }
    &::after {
        top: -4px;
        right: -4px;
        border-left: 2px;
        border-bottom: 2px;


    }

    dl {
        display: flex;
        justify-content: space-between;
    }

    &_item {
        width: 30%;
        height: 74px;
        position: relative;
        clip-path: polygon(19% 0, 100% 0, 100% 86%, 81% 100%, 0 100%, 0 14%);
        background: $clr_blue-dark;
        position: relative;
        z-index: 2;
    }

    p {
        color: white;
        position: absolute;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        margin: 0;
        font-family: $txt_cond;
        text-transform: capitalize;
        letter-spacing: .045em;
        top: 4px;
        right: 4px;
        opacity: .2;
    }

    &_ch {
        width: 18px;
        height: 26px;
        margin: 1.8vh 0 0 .955vw;
        opacity: .1;
        background: {
            repeat: no-repeat;
            size: cover;
        }
    }

    &_level {
        display: flex;
        justify-content: flex-start;
        width: 60%;
        position: absolute;
        left: .6vw;
        bottom: 10px;

        span {
            width: 4px;
            height: 6px;
            margin-right: 2px;
            @include clr-opacity ( #6b6d41, .28 );
        }
    }

    &_design { background-image: url( '/assets/top/badge_01.svg' );}
    &_dev { background-image: url( '/assets/top/badge_02.svg' );}
    &_direction { background-image: url( '/assets/top/badge_03.svg' );}

    &_active {
        background-image: linear-gradient( #1c2272, #07143a );

        .badges_ch { opacity: 1;}
        .badges_level span { background: #6b6d41;}
    }

    // Badge level grid loop
    $levelStatus: __level !default;

    @for $i from 1 through 6 {
        .#{ $levelStatus }_#{ $i } span:nth-child(-n+#{ $i }) {
            background: #f0ff00;
        }
    }
}

// Works page Specific
.works_detail .badges {

    width: auto;
    z-index: 2;

    @include mq (medium,max) { width: 100%;}

    dl {
        justify-content: flex-start;

        @include mq (medium,max) {
            flex-direction: row;
        }
    }

    &_item {
        width: 5vw;
        min-width: 72px;
        height: 5.5vw;
        min-height: 80px;
        margin-right: 10px;

        @include mq (medium,max) {
            width: 33%;
            margin: 0 2.33333% 0 0;
            height: 7.6em;
        }

        &:last-child { margin: 0;}
    }

    &_ch {
        @include mq (medium,max) {
            margin: 2em 0 0 1.65em;
        }
    }

    &_level {
        @include mq (medium,max) {
            left: .8em;
        }
    }

    &::before { left: -4px;}
    &::after { right: -4px;}
}

// Top page Specific
.grid_desc_down .badges {

    dl {
        @include mq (xlarge,max) {
            flex-direction: column;
        }
    }
    &::before {
        @include mq (xlarge,max) {
            left: calc( 10% - 4px );
        }
    }

    &::after {
        @include mq (xlarge,max) {
            right: calc( 10% - 4px );
        }
    }

    &_item {
        height: 80px;

        @include mq (xlarge,max) {
            width: 80%;
            height: 48px;
            margin: 0 auto 6px;
            clip-path: polygon(14% 0, 100% 0, 100% 83%, 87% 100%, 0 100%, 0 18%);

            &:last-child {
                @include mq (xlarge,max) { margin-bottom: 0;}
            }
        }
    }

    &_level {
        @include mq (xlarge,max) {
            left: 4vw;
            bottom: 12px;
        }
    }

    &_ch {
        @include mq (xlarge,max) {
            margin: 1.2vh 0 0 1.25vw;
        }
    }
}