// BUTTON
// detail btn / resume btn

.btn {
    width: 100%;
    background: $clr_light-trans;
    height: 42px;
    border-left: 2px solid $clr_blue-active;
    border-right: 2px solid $clr_blue-active;
    position: absolute;
    padding-top: 2px;
    box-sizing: border-box;
    z-index: 10; // * since mouse effect div is 2.
    cursor: url('/assets/common/cursor.png'), auto;

    @include mq (medium,max) {
        padding-top: 5px;
        height: 48px;
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
        font-family: $txt_cond;
        font-size: 1rem;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 3.4;
        letter-spacing: .16em;
        animation: vibration 2s linear infinite;

        &:hover {
            animation: button_hover .25s 0s linear forwards;
        }

        @keyframes button_hover {
            0% {
                background: #202739;
                margin: -1px -2px 0 0;
            }
            50% {
                margin: 2px 2px 0 0;
            }
            59% {
                background: transparent;
            }
            60% {
                background: #202739;
                margin-top: 0;
            }
            90% {
                margin-top: -1px;
            }
            100% {
                background: transparent;
                margin-top: 1px;
            }
        }
    }
}
