/** CURSOR
 */
body {
    cursor: url('/assets/common/cursor.png') 2 2, auto;
}
a:-webkit-any-link {
    cursor: url('/assets/common/cursor.png') 2 2, auto;
}
// .innerScroll {
//     cursor: url('/assets/common/cursor.gif') 2 2, auto !important;
// }



/** ANIMATION BANNER
 */
.banner_motion {
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 10px 3em;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: {
        image: url('/assets/common/pttn.png');
        repeat: repeat;
    }
    animation: stripe .5s linear 0s infinite;

    @include mq (medium,max) {
        margin-bottom: 0;
        position: relative;

        &::before {
            position: absolute;
            font-family: $txt_cond;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: .15em;
            padding: .6em 1.2em;
            color: #182329;
            background: $clr-dark;
            @include center (horizontal);
            z-index: 2;
        }
    }

    & > div {
        background: transparent;
        width: 65%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    p {
        position: absolute;
        font-family: $txt_cond;
        font-size: 1.585rem;
        font-weight: bold;
        letter-spacing: .25em;
        text-transform: uppercase;
        color: #001d2d;
        margin: 0;
        white-space: nowrap;
        @include center(vertical);
        animation: movingleft 3s linear 0s infinite;
    }

    @keyframes stripe {
        0%   { background-position-x: 0px;}
        100% { background-position-x: 9px;}
    }

    @keyframes movingleft {
        0%   { left: -50px;}
        100% { left: 0px;}
    }
}

/* Works page specific */
.works_detail_ctl a {
    .banner_motion {
        position: relative;

        &::before {
            position: absolute;
            font-family: $txt_cond;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: .15em;
            padding: .6em 1.2em;
            color: #182329;
            background: $clr-dark;
            @include center (horizontal);
            z-index: 2;
        }
    }

    &:last-child .banner_motion {
        &::before { content: 'next';}
    }

    &:first-child .banner_motion {
        &::before { content: 'prev';}
    }
}

/* Top page specific */
.grid_next .banner_motion {

    @include mq (medium,max) {
        &::before { content: 'next';}
        height: calc( 100% - 10px );
    }
}
.grid_prev .banner_motion {

    @include mq (medium,max) {
        &::before { content: 'prev';}
        height: calc( 100% - 10px );
    }
}




/** HORIZON LINE
 */
.horizon {
    width: calc( 100% - 40px );
    height: 1px;
    background: $clr_blue-grey;
    position: fixed;
    z-index: 20;

    div {
      position: relative;
      width: 100%;

      &::before, &::after {
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          background: $clr_blue-active;
          top: -2px;
      }
      &::before { left: -2px;}
      &::after { right: -2px;}
  }
}

.horizon_top { top: 20px;}
.horizon_bottom { bottom: 20px;}



/** MOUSE CIRCLE
 */
.circle {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    top: 0;
    left: 0;
    border: 2px solid $clr_blue-main;
    border-radius: 50%;
    backface-visibility: hidden;
    z-index: 2;
}


/** BGM switch Bottom
 */
.BGM {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 20px;
    right: calc( 2.1% / 2 + 3px);
    @include clr-opacity ( $clr_blue-main, .35 );
    z-index: 2;

    & > div {
        position: relative;
    }
    span {
        position: absolute;
        width: 2px;
        background: $clr_blue-active;
        display: block;
        bottom: -22px;
        height: 1px;

        animation: spectrum 0ms -800ms linear infinite alternate;
        transition: all .35s $cb_rush;

        &:nth-child(1) { left: 9px;  animation-duration: 424ms;}
        &:nth-child(2) { left: 13px; animation-duration: 487ms;}
        &:nth-child(3) { left: 17px; animation-duration: 400ms;}
        &:nth-child(4) { left: 21px; animation-duration: 442ms;}
    }

    @include mq (medium,max) {
        top: 6.8vw;
    }
}

@keyframes spectrum {
    0%   { height: 2px;}
    100% { height: 10px;}
}

._pause {
    div {
        span {
            height: 2px;
            animation: none;
        }
    }
}



/** CHARTS
 */
#chart {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: rgba( 57,66,140,.12 );
}



/** Text Neon Light
 */
.neon {
    z-index: 3;
    position: relative;

    &::after {
        content: attr(data-text);
        position: absolute;
        width: 100%;
        @include center (both);
        z-index: 2;
        color: white;
        filter: blur(10px);
        animation: 3s neonFlashing .2s infinite linear;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $clr_blue-main;
        z-index: 1;
        opacity: .45;
        filter: blur(20px);
    }
}

@keyframes neonFlashing {
    0% { filter: blur(10px);}
    1% { filter: blur(2px);}
    2% { filter: blur(8px);}
    3% { filter: blur(10px);}
    4% { filter: blur(10px);}
    5% { filter: blur(8px);}
    6% { filter: blur(10px);}
    100% { filter: blur(10px);}
}



/** info mark
 */
div.info {
    position: absolute;
    width: 1.4em;
    height: 1.4em;
    display: block;
    background-image: linear-gradient(#232a8b, #0b1940);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .15s $cb_rush;

    p {
        font-family: $txt_code;
        font-size: 1rem;
        text-transform: lowercase;
        margin-left: 3px;
        color: #8089ff;
        line-height: 1;
        font-weight: bold;
        transition: all .05s $cb_rush;

        @include mq (medium,max) {
            font-size: 1.2rem;
        }
    }

    &:hover {
      background: $clr_blur-dark;

      p { color: $clr_blue-main;}
    }

    @include mq (medium,max) {
        width: 1.6em;
        height: 1.6em;
    }
}



/** External link icon
 */
.ext {
    width: 8px;
    height: 7px;
    fill: $clr_blue-main;
}