// CURSOR
//
body {
    cursor: url('/assets/common/cursor.png') 2 2, auto;
}
a:-webkit-any-link {
    cursor: url('/assets/common/cursor.png') 2 2, auto;
}
// .innerScroll {
//     cursor: url('/assets/common/cursor.gif') 2 2, auto !important;
// }



// ANIMATION BANER
//
.banner_motion {
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 10px 3em;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: {
        image: url('/assets/common/pttn.png');
        repeat: repeat;
    }
    animation: stripe .5s linear 0s infinite;

    & > div {
        background: black;
        width: 65%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    p {
        position: absolute;
        font-family: $txt_cond;
        font-size: 1.585rem;
        font-weight: bold;
        letter-spacing: .25em;
        text-transform: uppercase;
        color: #001d2d;
        margin: 0;
        white-space: nowrap;
        @include center(vertical);
        animation: movingleft 3s linear 0s infinite;
    }

    @keyframes stripe {
        0%   { background-position-x: 0px;}
        100% { background-position-x: 9px;}
    }

    @keyframes movingleft {
        0%   { left: -50px;}
        100% { left: 0px;}
    }
}


// HORIZON LINE
//
.horizon {
    width: calc( 100% - 40px );
    height: 1px;
    background: $clr_blue-grey;
    position: fixed;
    z-index: 20;

    div {
      position: relative;
      width: 100%;

      &::before, &::after {
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          background: $clr_blue-active;
          top: -2px;
      }
      &::before { left: -2px;}
      &::after { right: -2px;}
  }
}

.horizon_top { top: 20px;}
.horizon_bottom { bottom: 20px;}



// MOUSE CIRCLE
//
.circle {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    top: 0;
    left: 0;
    border: 2px solid $clr_blue-main;
    border-radius: 50%;
    backface-visibility: hidden;
    z-index: 2;
}


// BGM switch Bottom
//
.BGM {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 30px;
    @include clr-opacity ( $clr_blue-main, .35 );
    @include center (horizontal);
    z-index: 10;

    & > div {
        position: relative;
    }
    span {
        position: absolute;
        width: 2px;
        background: $clr_blue-active;
        display: block;
        bottom: -22px;
        height: 1px;

        animation: spectrum 0ms -800ms linear infinite alternate;
        transition: all .35s $cb_rush;

        &:nth-child(1) { left: 9px;  animation-duration: 424ms;}
        &:nth-child(2) { left: 13px; animation-duration: 487ms;}
        &:nth-child(3) { left: 17px; animation-duration: 400ms;}
        &:nth-child(4) { left: 21px; animation-duration: 442ms;}
    }
}

@keyframes spectrum {
    0%   { height: 2px;}
    100% { height: 10px;}
}

._pause {
    div {
        span {
            height: 2px;
            animation: none;
        }
    }
}

.__BGMchild {
    position: fixed;
    bottom: 30px;
    left: auto;
    right: 15px;
    z-index: 10;
}



// CHARTS
//
#chart {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: rgba( 57,66,140,.12 );
}



// Text Neon Light
//
.neon {
    z-index: 3;
    position: relative;

    &::after {
        content: attr(data-text);
        position: absolute;
        width: 100%;
        @include center (both);
        z-index: 2;
        color: white;
        filter: blur(10px);
        animation: 3s neonFlashing .2s infinite linear;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $clr_blue-main;
        z-index: 1;
        opacity: .45;
        filter: blur(20px);
    }
}

@keyframes neonFlashing {
    0% { filter: blur(10px);}
    1% { filter: blur(2px);}
    2% { filter: blur(8px);}
    3% { filter: blur(10px);}
    4% { filter: blur(10px);}
    5% { filter: blur(8px);}
    6% { filter: blur(10px);}
    100% { filter: blur(10px);}
}



// Question mark
//
.question {
    position: absolute;
    width: 15px;
    height: 15px;
    display: block;
    background-image: linear-gradient(#232a8b, #0b1940);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 1rem;
        margin-left: 3px;
        color: #8089ff;
        line-height: 1;
        font-weight: bold;
        font-family: $txt_en;
    }
}



//  Coming Soon
//
.coming {
    position: relative;
    opacity: .4;

    &::after {
        position: absolute;
        @include center(vertical);
        right: calc( 100% + 1em);
        content: 'coming soon';
        font-family: $txt_code;
        font-size: 1rem;
        letter-spacing: .1em;
        line-height: 1;
        text-transform: uppercase;
        visibility: hidden;
        transition: all .15s $cb_rush;
    }

    &:hover {
        &::after {
            visibility: visible;
        }
    }
}
