.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    height: 100vh;
    background: url('/assets/common/noise.png');
    background-repeat: repeat;
    animation: 1s infinite noise;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;

    &_inner {
        position: relative;
        width: 600px;
        height: 360px;
        background: $clr_blue-main;
        clip-path: polygon( 6% 0, 100% 0, 100% 90%, 94% 100%, 0 100%, 0% 70%, 0 10% );
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        z-index: 20;

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: calc( 600px - 2px );
            height: calc( 360px - 2px );
            background: black;
            clip-path: polygon( 6% 0, 100% 0, 100% 90%, 94% 100%, 0 100%, 0% 70%, 0 10% );
            @include center (both);

            @include mq (medium,max) {
                width: calc( 80vw - 2px);
                height: calc( 270px - 2px );
            }
        }

        @include mq (medium,max) {
            width: 80vw;
            height: 270px;
        }
    }

    .info, main, footer { z-index: 21;}

    &_cts {
        color: white;
        text-align: center;

        @include mq (medium,max) {
            padding: 0 6.5vw;
        }
    }

    .info {
        position: absolute;
        top: 2.2em;
        right: 2.2em;
        background: $clr_blur-dark;

        p { color: $clr_blue-main;}

        @include mq (medium,max) {
            top: .85em;
            right: .85em;
        }
    }

    footer {
        position: relative;
        width: 100%;
        height: 6.5em;
        margin-top: 5.5em;
        background: $clr_light-trans;

        @include mq (medium,max) {
            margin-top: 3em;
            height: 4.4em;
        }
    }

    button {
        position: absolute;
        @include center (both);
        font-family: $txt_cond;
        font-size: 1.4rem;
        font-weight: bold;
        color: $clr_blue-active;
        background: transparent;
        letter-spacing: .05em;
        text-transform: uppercase;
        transition: all .15s $cb_rush;
        z-index: 30;

        &:hover { 
            color: $clr_blue-main;
        }
    }

    p { margin: 0;}
    p, a {
        font-family: $txt_cond;
        font-size: 1.4rem;
        line-height: 1.9;
        letter-spacing: .068em;
    }

    span { margin-left: .4em;}

    a { 
        display: inline-block;
        margin-top: .6em;
        color: $clr_blue-active;
    }

}
