@keyframes glitch {
  0% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  1% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  2% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  3% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  4% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  5% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  6% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  7% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  8% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  9% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  10% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  11% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  12% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  13% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  14% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  15% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  16% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  17% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  18% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  19% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  20% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  21% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  22% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  23% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  24% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  25% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  26% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  27% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  28% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  29% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  30% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  31% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  32% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  33% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  34% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  35% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  36% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  37% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  38% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  39% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  40% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  41% { text-shadow: 45px 0 0 #0c33f5, -45px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  42% { text-shadow: 0 0 0 #0c33f5, 0 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  43% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  44% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  45% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  46% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  47% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  48% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  49% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  50% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  51% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  52% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  53% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  54% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  55% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  56% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  57% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  58% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  59% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  60% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  61% { text-shadow: 30px 0 0 red, -30px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  62% { text-shadow: 0 0 0 red, 0 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  63% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  64% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  65% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  66% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  67% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  68% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  69% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  70% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  71% { text-shadow: 50px 0 0 red, -50px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  72% { text-shadow: 0 0 0 red, 0 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  73% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  74% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  75% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  76% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  77% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  78% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  79% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  80% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  81% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  82% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  83% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  84% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  85% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  86% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  87% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  88% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  89% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  90% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  91% { text-shadow: 60px 0 0 lime, -60px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  92% { text-shadow: 0 0 0 lime, 0 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  92% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  93% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  94% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  95% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  96% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  97% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  98% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  99% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  100% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
}

.btn_glitch:hover {
	opacity: 1;
	animation: glitch 1s steps(100) infinite;
}

.glitch__txt {
	position: relative;
	mix-blend-mode:lighten;
	display: inline-block;
	will-change: clip;
}
.glitch__txt:after,
.glitch__txt:before {
    content: attr(data-employer);
    position: absolute;
    top: 0;
    width: 100%;
    clip: rect(0, 0, 0, 0);
}
.glitch__txt::before {
	left:4px;
	text-shadow: 3px 0 #54ffff;
	animation: f 2s infinite cubic-bezier(.08, .62, .18, .96) alternate-reverse;
}
.glitch__txt::after {
	left:-2px;
	text-shadow:2px 0 #d259df;
	animation: f 2s infinite cubic-bezier(.08, .62, .18, .96) alternate-reverse;
}

@keyframes n {
    0% {
        -webkit-clip-path:polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
        clip-path:polygon(0 2%, 100% 2%, 100% 5%, 0 5%)
    }
    10% {
        -webkit-clip-path:polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
        clip-path:polygon(0 15%, 100% 15%, 100% 15%, 0 15%)
    }
    20% {
        -webkit-clip-path:polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
        clip-path:polygon(0 10%, 100% 10%, 100% 20%, 0 20%)
    }
    30% {
        -webkit-clip-path:polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
        clip-path:polygon(0 1%, 100% 1%, 100% 2%, 0 2%)
    }
    40% {
        -webkit-clip-path:polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
        clip-path:polygon(0 33%, 100% 33%, 100% 33%, 0 33%)
    }
    50% {
        -webkit-clip-path:polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
        clip-path:polygon(0 44%, 100% 44%, 100% 44%, 0 44%)
    }
    60% {
        -webkit-clip-path:polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        clip-path:polygon(0 50%, 100% 50%, 100% 20%, 0 20%)
    }
    70% {
        -webkit-clip-path:polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        clip-path:polygon(0 70%, 100% 70%, 100% 70%, 0 70%)
    }
    80% {
        -webkit-clip-path:polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        clip-path:polygon(0 80%, 100% 80%, 100% 80%, 0 80%)
    }
    90% {
        -webkit-clip-path:polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        clip-path:polygon(0 50%, 100% 50%, 100% 55%, 0 55%)
    }
    to {
        -webkit-clip-path:polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        clip-path:polygon(0 70%, 100% 70%, 100% 80%, 0 80%)
    }
}

@keyframes f {
    0% {
        clip:rect(70px, 9999px, 59px, 0)
    }
    2.85714% {
        clip:rect(39px, 9999px, 25px, 0)
    }
    5.71429% {
        clip:rect(13px, 9999px, 30px, 0)
    }
    8.57143% {
        clip:rect(33px, 9999px, 12px, 0)
    }
    11.42857% {
        clip:rect(55px, 9999px, 7px, 0)
    }
    14.28571% {
        clip:rect(49px, 9999px, 29px, 0)
    }
    17.14286% {
        clip:rect(9px, 9999px, 4px, 0)
    }
    20% {
        clip:rect(70px, 9999px, 24px, 0)
    }
    22.85714% {
        clip:rect(66px, 9999px, 36px, 0)
    }
    25.71429% {
        clip:rect(48px, 9999px, 5px, 0)
    }
    28.57143% {
        clip:rect(67px, 9999px, 13px, 0)
    }
    31.42857% {
        clip:rect(22px, 9999px, 17px, 0)
    }
    34.28571% {
        clip:rect(58px, 9999px, 52px, 0)
    }
    37.14286% {
        clip:rect(31px, 9999px, 67px, 0)
    }
    40% {
        clip:rect(64px, 9999px, 26px, 0)
    }
    42.85714% {
        clip:rect(48px, 9999px, 65px, 0)
    }
    45.71429% {
        clip:rect(8px, 9999px, 17px, 0)
    }
    48.57143% {
        clip:rect(20px, 9999px, 61px, 0)
    }
    51.42857% {
        clip:rect(64px, 9999px, 60px, 0)
    }
    54.28571% {
        clip:rect(56px, 9999px, 57px, 0)
    }
    57.14286% {
        clip:rect(3px, 9999px, 25px, 0)
    }
}


@keyframes glitchSwift {
  0%{
	    transform: scale(1,0.2) translate3d(0,0,0);
	    filter: brightness(4);
	    opacity: 1;
  }
  3.5% {
    	transform: scale(1,0.2) translate3d(0,100%,0);
  }

  3.6% {
	    transform: scale(1,0.2) translate3d(0,-100%,0);
	    opacity: 1;
  }

  9%{
	    transform: scale(1.3,0.6) translate3d(0,100%,0);
	    filter: brightness(4);
	    opacity: 0;
  }

  11%{
	    transform: scale(1,1) translate3d(0,0,0);
	    filter: contrast(0) brightness(0);
	    opacity: 0;
  }

  20%{
	    transform: scale(1,1) translate3d(0,0,0);
	    filter: contrast(1) brightness(1.2) saturate(1.3);
	    opacity: 1;
  }
}
.vhs { animation: glitchSwift .25s linear forwards;}


@keyframes vibration {
  0% {
    transform: translate(2px, 1px); }
  2% {
    transform: translate(1px, 0px); }
  4% {
    transform: translate(0px, 1px); }
  6% {
    transform: translate(0px, 1px); }
  8% {
    transform: translate(1px, 3px); }
  10% {
    transform: translate(0px, 1px); }
  12% {
    transform: translate(2px, 0px); }
  14.000000000000002% {
    transform: translate(2px, 0px); }
  16% {
    transform: translate(4px, 1px); }
  18% {
    transform: translate(3px, 2px); }
  20% {
    transform: translate(1px, 3px); }
  22% {
    transform: translate(1px, 3px); }
  24% {
    transform: translate(2px, 0px); }
  26% {
    transform: translate(4px, 1px); }
  28.000000000000004% {
    transform: translate(3px, 0px); }
  30% {
    transform: translate(0px, 3px); }
  32% {
    transform: translate(4px, 1px); }
  34% {
    transform: translate(1px, 0px); }
  36% {
    transform: translate(4px, 4px); }
  38% {
    transform: translate(2px, 3px); }
  40% {
    transform: translate(4px, 0px); }
  42% {
    transform: translate(0px, 1px); }
  44% {
    transform: translate(4px, 4px); }
  46.00000000000001% {
    transform: translate(3px, 1px); }
  48% {
    transform: translate(1px, 2px); }
  50% {
    transform: translate(4px, 4px); }
  52% {
    transform: translate(0px, 2px); }
  54% {
    transform: translate(0px, 4px); }
  56.00000000000001% {
    transform: translate(2px, 3px); }
  58% {
    transform: translate(3px, 4px); }
  60% {
    transform: translate(2px, 0px); }
  62% {
    transform: translate(2px, 2px); }
  64% {
    transform: translate(0px, 0px); }
  66% {
    transform: translate(2px, 3px); }
  68% {
    transform: translate(3px, 4px); }
  70.00000000000001% {
    transform: translate(1px, 3px); }
  72% {
    transform: translate(4px, 4px); }
  74% {
    transform: translate(2px, 3px); }
  76% {
    transform: translate(0px, 3px); }
  78% {
    transform: translate(3px, 0px); }
  80% {
    transform: translate(3px, 0px); }
  82.00000000000001% {
    transform: translate(0px, 0px); }
  84% {
    transform: translate(4px, 4px); }
  86% {
    transform: translate(3px, 1px); }
  88% {
    transform: translate(0px, 4px); }
  90% {
    transform: translate(0px, 0px); }
  92.00000000000001% {
    transform: translate(2px, 2px); }
  94% {
    transform: translate(4px, 0px); }
  96% {
    transform: translate(4px, 3px); }
  98% {
    transform: translate(1px, 0px); }
  100% {
    transform: translate(2px, 1px); } }



@keyframes noise {
    0%, 100% { background-position: 0 0;}
    10% { background-position: -5% -10%;}
    20% { background-position: -15% 5%;}
    30% { background-position: 7% -25%;}
    40% { background-position: 20% 25%;}
    50% { background-position: -25% 10%;}
    60% { background-position: 15% 5%;}
    70% { background-position: 0% 15%;}
    80% { background-position: 25% 35%;}
    90% { background-position: -10% 10%;}
}


/** Logo flashing vibrating effect
 */
@keyframes logoEffect {
    0% {
        fill:#142247;
    }
    1% {
        transform: translate3d(1px,1px,1px);
        fill: $clr_blue-active;
    }
    2% {
        transform: translate3d(-1px,-1px,-1px);
        fill:#142247;
    }
    3% {
        transform: translate3d(1px,1px,1px);
        fill: $clr_blue-active;
    }
    4% {
        transform: translate3d(0,0,0);
        fill:#142247;
    }
    5% {
        fill: $clr_blue-active;
    }
    10% {
        fill: $clr_blue-active;
    }
    70% {
        fill: $clr_blue-active;
    }
    80% {
        fill: $clr_blue-active;
    }
    90% {
        fill: $clr_blue-active;
    }
    100% {
        fill:#142247;
    }
}