/* MAIN MEMU
 * -
 */



// menu icon
.menu {
    position: absolute;
    display: flex;
    top: 45px;
    left: 3vw;
    z-index: 20;

    @include mq (medium, max) {
        @include center (vertical);
        left: 20px;
    }

    span {
        display: block;
        width: 2px;
        height: 40px;
        background: $clr_blue-active;
        margin-right: 2px;
        transition: all .25s $cb_rush;

        @include mq (medium, max) { height: 32px;}

        &:last-child {
            margin-right: 0;
            position: relative;

            &::after {
                content: 'menu';
                position: absolute;
                font-family: $txt_cond;
                font-size: 1.45rem;
                text-transform: uppercase;
                color: white;
                font-weight: bold;
                -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl;
                letter-spacing: .1em;
                left: -24px;
                top: 1px;
                opacity: 0;
                transition: all .25s $cb_rush;

                @include mq (medium, max) {
                    font-size: 2.3vw;
                    height: 32px;
                    top: 0;
                }
            }
        }
    }

    &:hover {
        span { margin-right: 4px;}
    }

    &_active {
        & span:first-child {
            height: 83vh;
            width: 1px;
            background-image: linear-gradient( to bottom, $clr_blue-grey 45%, black );

            @include mq (medium,max) {
                height: 80%;
            }
        }

        & span:nth-child(n+2) { height: 0;}

        & span:last-child {
            &::after {
                left: -4px;
                opacity: 1;

                @include mq (medium, max) {
                    top: -1.258em;
                }
            }
        }

        &:hover {
            span { margin-right: 2px;}
        }
    }
}

// overlay navigation
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 10;
    top: 0;
    left: -100%;
    transition: all .2s $cb_rush;

    @include mq (medium,max) {
        width: 190%;
        left: -190%;
        padding: 0 0 0 18.5vw;
        box-sizing: border-box;
    }

    &_active { left: 0;}

    a {
        font-size: 1.45rem;
        color: $clr_blue-active;
        font-weight: bold;
        font-family: $txt_cond;
        text-transform: uppercase;

        @include mq (medium,max) {
            font-size: 4.5vw;
        }
    }

    nav {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mq (medium,max) {
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
        }
    }

    &_list {

        li:last-child {
            margin-bottom: 0;

            @include mq (medium,max) {
                margin-right: 0;
            }
        }

        &:hover li:not(:hover) {
            opacity: .55;
        }

        @include mq (medium,max) {
            display: flex;
        }
    }

    &_item {
        margin-bottom: 1.45em;
        overflow: hidden;
        transform: translateX(-8px);
        transition: all .35s $cb_rush;
        opacity: 0;

        &_active {
            opacity: 1;
            transform: translate(0, 0) !important;
        }

        @include mq (medium,max) {
            margin: 0 4.85vw 0 0;
        }
    }

    &_first {
        position: relative;
        margin-top: 6.5vh;
        //
        // &::before {
        //     content: 'projects';
        //     position: absolute;
        //     top: -2.6em;
        //     font-size: 1rem;
        //     font-family: $txt_code;
        //     font-weight: bold;
        //     color: $clr_blue-main;
        //     letter-spacing: .2em;
        //     text-transform: capitalize;
        // }

        @include mq (medium,max) {
            margin-top: 0;
        }
    }

    &_last {
        margin-bottom: 6.5vh;

        @include mq (medium,max) {
            margin-bottom: 0;
        }
    }

    ul {
        width: 50%;
        margin: 0 auto;
        position: relative;

        @include mq (medium,max) {
           width: 100%;
        }
    }

    &_list + ul {
        display: flex;
        margin-top: 6.5vh;

        & .overlay_item {
            transform: translate(0, 10px);
            transition-delay: .4s;
        }

        & li {
            margin-bottom: 0;

            &:last-child {
                @include mq (medium,max) {
                    margin-right: 0;
                }
            }
        }

        @include mq (medium,max) {
            margin: 0 0 0 9vw;
        }
    }

    .svg_ins,
    .svg_git {
        width: 22px;
        height: 22px;
        fill: $clr_blue-active;
    }

    .svg_ins {
        margin-left: 1em;

        @include mq (medium,max) {
            margin-left: 0;
        }
    }

    /* Delay transition
     * whether if menu has 6 items
     */
    @for $i from 1 through 6 {
        .overlay_list > li:nth-child(#{ $i }) {
            transition-delay: $i * .04s;
        }
    }

    // for making current page's link unable to click
    .current {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 1em;
            top: .6em;
            left: 0;
            z-index: -1;
            background: rgba(84,8,8,.7);
        }
    }
}



//  Coming Soon
//
.coming {
    position: relative;

    a { color: $clr_blue-grey;}

    &::after {
        position: absolute;
        @include center(vertical);
        right: calc( 100% + 1em);
        content: 'coming soon';
        font-family: $txt_code;
        font-size: 1rem;
        letter-spacing: .1em;
        line-height: 1;
        text-transform: uppercase;
        visibility: hidden;
        transition: all .15s $cb_rush;
    }

    &:hover {
        &::after {
            visibility: visible;
        }
    }
}
