/* MAIN MEMU
 * -
 */



// menu icon
.menu {
    position: absolute;
    display: flex;
    top: 45px;
    left: 3vw;
    z-index: 20;

    span {
        display: block;
        width: 2px;
        height: 40px;
        background: $clr_blue-active;
        margin-right: 2px;
        transition: all .25s $cb_rush;

        &:last-child {
            margin-right: 0;
            position: relative;

            &::after {
                content: 'menu';
                position: absolute;
                font-family: $txt_cond;
                font-size: 1.45rem;
                text-transform: uppercase;
                color: white;
                font-weight: bold;
                -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl;
                letter-spacing: .1em;
                left: -24px;
                top: 1px;
                opacity: 0;
                transition: all .25s $cb_rush;
            }
        }
    }

    &:hover {
        span { margin-right: 4px;}
    }

    &_active {
        & span:first-child {
            height: 83vh;
            width: 1px;
            background-image: linear-gradient( to bottom, $clr_blue-grey 45%, black );
        }

        & span:nth-child(n+2) { height: 0;}

        & span:last-child {
            &::after {
                left: -4px;
                opacity: 1;
            }
        }

        &:hover {
            span { margin-right: 2px;}
        }
    }
}

// overlay navigation
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 10;
    top: 0;
    left: -100%;
    transition: all .2s $cb_rush;

    &_active { left: 0;}

    a {
        font-size: 1.45rem;
        color: $clr_blue-active;
        font-weight: bold;
        font-family: $txt_cond;
        text-transform: uppercase;
    }

    nav {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &_list {
        li:last-child { margin-bottom: 0;}

        &::before {
            position: absolute;
            font-size: 1rem;
            font-family: $txt_code;
            font-weight: bold;
            color: $clr_blue-main;
            letter-spacing: .2em;
            content: 'projects';
            top: -2.6em;
            text-transform: capitalize;
        }
    }

    &_item {
        margin-bottom: 1.45em;
        overflow: hidden;
        transform: translateX(-8px);
        transition: all .35s $cb_rush;
        opacity: 0;

        &_active {
            opacity: 1;
            transform: translate(0, 0) !important;
        }
    }

    &_last { margin-bottom: 6.5vh;}

    ul {
        width: 50%;
        margin: 0 auto;
        position: relative;
    }

    &_list + ul {
        display: flex;
        margin-top: 6.5vh;

        & .overlay_item {
            transform: translate(0, 10px);
            transition-delay: .4s;
        }

        & li { margin-bottom: 0;}
    }

    .svg_ins,
    .svg_git {
        width: 22px;
        height: 22px;
        fill: $clr_blue-active;
    }

    .svg_ins { margin-left: 1em;}

    @for $i from 1 through 5 {
    .overlay_list > li:nth-child(#{ $i }) {
            transition-delay: $i * .1s;
        }
    }
}



//  Coming Soon
//
.coming {
    position: relative;

    a { color: $clr_blue-grey;}

    &::after {
        position: absolute;
        @include center(vertical);
        right: calc( 100% + 1em);
        content: 'coming soon';
        font-family: $txt_code;
        font-size: 1rem;
        letter-spacing: .1em;
        line-height: 1;
        text-transform: uppercase;
        visibility: hidden;
        transition: all .15s $cb_rush;
    }

    &:hover {
        &::after {
            visibility: visible;
        }
    }
}
