Options +FollowSymLinks
RewriteEngine on
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ http://yoshikawagumi.info/$1 [R=301,L]

<Files ~ "^.(htaccess|htpasswd)$">
deny from all
</Files>



ErrorDocument 404 /404.html
