{% extends "_layout.njk" %}
{% set pagetitle = "" %}
{% set kw = 'URYU MYAO' %}
{% set des = 'URYU MYAO' %}
<!--  head end -->

{% block content %}

<div data-page="works">

    {% include "_bg.njk" %}

    <main>
        <a href="/works/work_1.html">links</a>
    </main>

</div>
<!--  contents end  -->

{% endblock %}
