{% extends "_layout.njk" %}
{% set pagetitle = "WORK" %}
{% set kw = 'URYU MYAO' %}
{% set des = 'URYU MYAO' %}
<!--  head end -->

{% block content %}

<!-- ** Audio Source ** -->
{% include "_audio.njk" %}
<!-- * end * -->


<div data-page="works">

    {% include "_bg.njk" %}

    <main class="grid__rule" role="main">



    </main>
</div>
<!--  contents end  -->

{% endblock %}
