{% extends "_layout.njk" %}
{% set pagetitle = "{{ work[0].title }}" %}
{% set kw = 'URYU MYAO' %}
{% set des = 'URYU MYAO' %}
<!--  head end -->

{% block content %}

<div data-page="{{ work[0].title }}">

    {% include "_bg.njk" %}

    <main>

    </main>

</div>
<!--  contents end  -->

{% endblock %}
