{% extends "_layout.njk" %}
{% set pagetitle = "WORK・Yoshikawa ｜ " %}
{% set kw = 'URYU, MYAO, URYU MYAO, ウェブデザイナー, 中国人デザイナー, 网页设计, 网站开发, design, ui, ux, development, web, javascript, js, webgl' %}
{% set des = 'URYU MYAO' %}

{% block content %}

<!-- ** Audio Source ** -->
{% include "audio.njk" %}


<div data-page="works" id="Works" class="w01 w2018">

    {% include "bg.njk" %}

    <main class="grid_rule" role="main">

        {% include "cyberline.njk" %}

        <aside class="grid_aside">
            <div class="grid_aside_inner">
                <!-- ** Menu in macro ** -->
                {% import 'menu.njk' as menu %}
                {{ menu.current('w01') }}

                <div class="Y">{% include 'logo.njk'%}</div>

                <div class="caseImg caseSP">
                    <div>
                        <figure>
                            <picture class="caseImg_01"></picture>
                        </figure>
                        <figure>
                            <picture class="caseImg_02"></picture>
                        </figure>
                    </div>
                </div> 

                <div class="caseImg casePC">
                    <figure>
                        <picture class="caseImg_03"></picture>
                    </figure>
                    <figure>
                        <picture class="caseImg_04"></picture>
                    </figure>
                    <figure>
                        <picture class="caseImg_05"></picture>
                    </figure>
                </div>


                <p class="cr">© {{ basic.sitename }} 2018</p>
            </div> <!-- .grid_aside_inner-->
        </aside>

        <section id="container" class="grid_content innerScroll vhs">
            {# <div class="pjax_loading"></div> #}

            <figure class="fs">
                <video class="vhs" preload="none" autoplay loop mute playsinline>
                    <source src="/assets/_video/thm_01.mp4">
                </video>
            </figure>

            <article>
                <header class="works_header">
                    <h1 class="neon" data-text="YOSHIKAWA">YOSHIKAWA</h1>
                    <p>corporate site</p>
                </header>

                <section class="works_detail">
                    <div class="works_detail_role">
                        <h2>roles</h2>
                        <div>
                            <div class="badges">
                                <dl>
                                    <dd class="badges_item badges_active">
                                        <p>Design</p>
                                        <div class="badges_ch badges_design"></div>
                                        <!-- ** level status ** -->
                                        <div class="badges_level __level_6"><span></span><span></span><span></span><span></span><span></span><span></span>
                                        </div>
                                    </dd>
                                    <dd class="badges_item badges_active">
                                        <p>DEV.</p>
                                        <div class="badges_ch badges_dev"></div>
                                        <!-- ** level status ** -->
                                        <div class="badges_level __level_5"><span></span><span></span><span></span><span></span><span></span><span></span>
                                        </div>
                                    </dd>
                                    <dd class="badges_item">
                                        <p>Direction</p>
                                        <div class="badges_ch badges_direction"></div>
                                        <!-- ** level status ** -->
                                        <div class="badges_level"><span></span><span></span><span></span><span></span><span></span><span></span>
                                        </div>
                                    </dd>
                                </dl>
                            </div> <!-- .badges -->

                            <p>
                            UI Design,<br>
                            Motion Design,<br>
                            Front-end Coding
                            </p>
                        </div>
                    </div> <!-- .works_detail_role -->

                    <div class="works_detail_show">
                        <div>
                            <figure class="showPC">
                                <picture class="showImgPC"></picture>
                            </figure>
                            <figure class="showSP">
                                <picture class="showImgSP"></picture>
                            </figure>
                        </div>
                    </div> <!-- .works_detail_show -->

                    <div class="row">
                        <div class="works_detail_graph">
                            <h2>assigning</h2>
                            <div class="chart kl" style="position: relative; width: 100%">
                                <canvas id="chart01"></canvas>
                            </div>
                            <div class="info info_js"><p>i</p></div>
                        </div> <!-- col -->

                        <div class="works_detail_agency">
                            <h2>agency</h2>
                            <a href="https://www.econosys.jp/" target="_blank">ECONOSYS DESIGN,Inc
                                <span>
                                    <svg class="ext" x="0px" y="0px" viewBox="0 0 8 7">
                                        <polygon points="1,2 0,2 0,7 6,7 6,6 1,6 "/>
                                        <rect x="2" width="6" height="5"/>
                                    </svg>
                                </span>
                            </a>
                        </div> <!-- col -->
                    </div> <!-- .row -->

                    <div class="row">
                        <div class="works_detail_story">
                            <div>
                                <h2>story</h2>
                                <p>
ホームページのリニューアル案件で、デザイン提案、フロント開発を担当をしています。
<br>株式会社吉川組は京都を拠点とする土木建設会社で、地元において多くの基礎施設を手がけています。
<br>若き人材の採用向けのため、サイトにはスタイリッシュな要素を入れつつ、安定感のあるイメージを前面に出すことで、信頼感を持ち、かつ真摯な姿勢でサービスを提供する同社のイメージを表現しています。
                                </p>
                            </div>
                        </div> <!-- .detailStory -->
                    </div> <!-- .row -->

                    <div class="works_detail_others">
                        <h2>see site</h2>
                        <button type="button" class="btn btn_glitch audio_hv_01">
                            <a href="http://yoshikawagumi.info" role="button" target="_blank">launch</a>
                        </button>

                        <div class="works_detail_ctl">
                            <a href="/works/w02.html">
                                <div class="banner_motion"></div>
                                <figure>
                                    <picture class="__next __next_02"></picture>
                                </figure>
                            </a>
                        </div>
                    </div> <!-- .detailOthers -->
                </section> <!-- .detailItem -->
            </article>
        </section> <!-- #container .grid_content -->

        <div class="BGM">
            <div>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </main>
</div>
<!--  contents end  -->


{% include "script.njk" %}
{% endblock %}
