{% extends "_layout.njk" %}
{% set pagetitle = "WORK" %}
{% set kw = 'URYU, MYAO, URYU MYAO, ウェブデザイナー, 中国人デザイナー, 网页设计, 网站开发, design, ui, ux, development, web, javascript, js, webgl' %}
{% set des = 'URYU MYAO' %}
<!--  head end -->

{% block content %}

<!-- ** Audio Source ** -->
{% include "audio.njk" %}
<!-- ** Mouse circle ** -->
{% include "mouse-circle.njk" %}


<div data-page="works">

    {% include "bg.njk" %}

    <main class="grid_rule" role="main">

        {% include "cyberline.njk" %}

        <aside class="grid_aside">
            <div class="grid_aside_inner">

                <!-- ** Menu in macro ** -->
                {% import 'menu.njk' as menu %}
                {{ menu.current('w01') }}

                <figure class="earth"><picture></picture></figure>
                <figure class="mars"><picture></picture></figure>

                <p class="cr">© {{ basic.sitename }} 2018</p>
            </div> <!-- .grid_aside_inner-->
        </aside>

        <section class="grid_content innerScroll kl">
            <figure class="fs">
                <picture></picture>
            </figure>

            <article>
                {% for desc1 in desc1 %}
                <header class="works_header">
                    <h1 class="neon" data-text="{{ desc1.name }}">YOSHIKAWA</h1>
                    <p>corporate site</p>
                </header>
                {% endfor %}

                <section class="works_detail">
                    <div class="works_detail_role">
                        <h2>role</h2>
                        <div>
                            <div class="badges">
                                <ol>
                                    <li class="badges_item badges_active">
                                        <p>design</p>
                                        <div class="badges_ch badges_design"></div>
                                        <!-- ** level status ** -->
                                        <div class="badges_level __level_5">
                                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                                        </div>
                                    </li>
                                    <li class="badges_item badges_active">
                                        <p>DEV.</p>
                                        <div class="badges_ch badges_dev"></div>
                                        <!-- ** level status ** -->
                                        <div class="badges_level __level_3">
                                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                                        </div>
                                    </li>
                                    <li class="badges_item">
                                        <p>direction</p>
                                        <div class="badges_ch badges_direction"></div>
                                        <!-- ** level status ** -->
                                        <div class="badges_level">
                                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                                        </div>
                                    </li>
                                </ol>
                            </div> <!-- badges-->

                            <p>
                            UI Design, <br>
                            Motion Design
                            </p>
                        </div>
                    </div> <!-- col -->

                    <div class="caseImg caseSP">
                        <figure>
                            <picture class="caseImg_01"></picture>
                        </figure>
                        <figure>
                            <picture class="caseImg_02"></picture>
                        </figure>
                    </div> <!-- col -->

                    <div class="works_detail_agency">
                        <h2>agency</h2>
                        <a href="https://www.econosys.jp/" target="_blank">ECONOSYS DESIGN,Inc
                            <span>
                                <svg x="0px" y="0px" viewBox="0 0 8 7">
                                <polygon points="1,2 0,2 0,7 6,7 6,6 1,6 "/>
                                <rect x="2" width="6" height="5"/>
                                </svg>
                            </span>
                        </a>
                    </div> <!-- col -->

                    <div class="col-2">
                        <div class="works_detail_graph">
                            <h2>approch</h2>
                            <div class="chart kl" style="position: relative; width: 100%">
                                <canvas id="chart"></canvas>
                            </div>
                            <div class="question"><p>?</p></div>
                        </div> <!-- col -->

                        <div class="works_detail_story">
                            <div>
                                <h2>story</h2>
                                <p>
人はいつ好奇心を失くしてしまうのだろう。
<br>失敗を恐れた時、現状維持で満足してしまった時、視野が狭くなってしまった時、凝り固まった人間になってしまった時、古い固定観念に囚われた時、多くの経験を積んだ先に人々は好奇心を失くしてしまうのだろうか。
<br>私たちは探求します。世の中で何が起きているのか、何が人々の心を動かすのか。私たちは探究します。一つのことに対して誰よりも深く本質的に。
                                </p>
                            </div>
                        </div> <!-- .detailStory -->
                    </div>

                    <div class="caseImg casePC">
                        <figure>
                            <picture class="caseImg_03"></picture>
                        </figure>
                        <figure>
                            <picture class="caseImg_04"></picture>
                        </figure>
                        <figure>
                            <picture class="caseImg_05"></picture>
                        </figure>
                    </div>

                    <div class="works_detail_others">
                        <h2>see site</h2>
                        <button type="button" class="btn btn_glitch audio_hv_01">
                            <a href="http://yoshikawagumi.info" role="button" target="_blank">launch</a>
                        </button>

                        <div class="works_detail_ctl">
                            <a href="#">
                                <div class="banner_motion">
                                    <div><p></p></div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="banner_motion">
                                    <div><p></p></div>
                                </div>
                            </a>
                        </div>
                    </div> <!-- .detailOthers -->
                </section> <!-- .detailItem -->
            </article>
        </section>

        <div class="BGM BGM_child">
            <div>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </main>
</div>
<!--  contents end  -->

{% endblock %}
