{% extends "_layout.njk" %}
{% set pagetitle = "WORK・Asobista ｜ " %}
{% set kw = 'URYU, MYAO, URYU MYAO, ウェブデザイナー, 中国人デザイナー, 网页设计, 网站开发, design, ui, ux, development, web, javascript, js, webgl' %}
{% set des = 'I am URYU MYAO, a Japan based designer from China.' %}

{% block content %}

<!-- ** Audio Source ** -->
{% include "audio.njk" %}


<div data-page="works" id="Works" class="w04">

    {% include "bg.njk" %}

    <main class="grid_rule" role="main">

        {% include "cyberline.njk" %}

        <aside class="grid_aside">
            <div class="grid_aside_inner">

                <span class="overlay_mask _mask_blue"></span>
                <span class="overlay_mask _mask_black"></span>
                <!-- ** Menu in macro ** -->
                {% import 'menu.njk' as menu %}
                {{ menu.current('w01') }}

                <div class="Y">{% include 'logo.njk'%}</div>

                <div class="caseImg caseSP">
                    <figure>
                        <picture class="caseImg_01"></picture>
                    </figure>
                    <figure>
                        <picture class="caseImg_02"></picture>
                    </figure>
                </div> <!-- col -->

                <div class="caseImg casePC">
                    <figure>
                        <picture class="caseImg_03"></picture>
                    </figure>
                    <figure>
                        <picture class="caseImg_04"></picture>
                    </figure>
                    <figure>
                        <picture class="caseImg_05"></picture>
                    </figure>
                </div> <!-- col -->

                <p class="cr">© {{ basic.sitename }} 2018</p>
            </div> <!-- .grid_aside_inner-->
        </aside>

        <section id="container" class="grid_content innerScroll vhs">
            <figure class="fs">
                <video class="vhs" preload="none" autoplay loop mute playsinline>
                    <source src="/assets/_video/thm_04.mp4">
                </video>
            </figure>

            <article>
                <header class="works_header">
                    <h1 class="neon" data-text="ASOBISTA">Asobista</h1>
                    <p>corporate site</p>
                </header>

                <section class="works_detail">
                    <div class="works_detail_role">
                        <h2>roles</h2>
                        <div>
                            <div class="badges">
                                <dl>
                                    <dd class="badges_item badges_active">
                                        <p>Design</p>
                                        <div class="badges_ch badges_design"></div>
                                        <!-- ** level status ** -->
                                        <div class="badges_level __level_3"><span></span><span></span><span></span><span></span><span></span><span></span>
                                        </div>
                                    </dd>
                                    <dd class="badges_item">
                                        <p>DEV.</p>
                                        <div class="badges_ch badges_dev"></div>
                                        <!-- ** level status ** -->
                                        <div class="badges_level"><span></span><span></span><span></span><span></span><span></span><span></span>
                                        </div>
                                    </dd>
                                    <dd class="badges_item badges_active">
                                        <p>Direction</p>
                                        <div class="badges_ch badges_direction"></div>
                                        <!-- ** level status ** -->
                                        <div class="badges_level __level_4"><span></span><span></span><span></span><span></span><span></span><span></span>
                                        </div>
                                    </dd>
                                </dl>
                            </div> <!-- .badges -->

                            <p>
                            UI Design, <br>
                            Motion Design,<br>
                            Direction
                            </p>
                        </div>
                    </div> <!-- col -->

                    <div class="works_detail_show">
                        <div>
                            <figure class="showPC">
                                <picture class="showImgPC"></picture>
                            </figure>
                            <figure class="showSP">
                                <picture class="showImgSP"></picture>
                            </figure>
                        </div>
                    </div> <!-- .works_detail_show -->

                    <div class="row">
                        <div class="works_detail_agency">
                            <h2>agency</h2>
                            <a href="https://monstar-lab.com/" target="_blank">MONSTAR LAB,Inc
                                <span>
                                    <svg class="ext" x="0px" y="0px" viewBox="0 0 8 7">
                                        <polygon points="1,2 0,2 0,7 6,7 6,6 1,6 "/>
                                        <rect x="2" width="6" height="5"/>
                                    </svg>
                                </span>
                            </a>
                        </div> <!-- col -->
                    </div> <!-- .row -->

                    <div class="row">
                        <div class="works_detail_story">
                            <div>
                                <h2>story</h2>
                                <p>
株式会社バンダイナムコが企画する、リアルタイムでアイドルたちと一緒にゲームを遊ぶサービスです。
<br>メインデザイナーとして提案、制作、クライアントと開発の連携対応などを担当しました。
                                </p>
                            </div>
                        </div> <!-- .detailStory -->
                    </div>

                    <div class="works_detail_others">
                        <h2>see site</h2>
                        <button type="button" class="btn btn_glitch audio_hv_01">
                            <a href="https://asobista.com/" role="button" target="_blank">launch</a>
                        </button>

                        <div class="btt">
                            <a href="/">back to top</a>
                        </div>

                        <div class="works_detail_ctl">
                            <a href="/works/w01.html">
                                <div class="banner_motion"></div>
                                <figure>
                                    <picture class="__next __next_01"></picture>
                                </figure>
                            </a>
                        </div>
                    </div> <!-- .detailOthers -->
                </section> <!-- .detailItem -->
            </article>
        </section> <!-- #container .grid_content -->

        <div class="BGM _pause">
            <div>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </main>
</div>
<!--  contents end  -->


{% include "script.njk" %}
{% endblock %}
