// BUTTON
// detail btn / resume btn

.btn {
    width: 100%;
    background: $clr_blue-active;
    height: 52px;
    border-left: 2px solid $clr_blue-active;
    border-right: 2px solid $clr_blue-active;
    // border-top: 1px solid #1a273e;
    // border-bottom: 1px solid #1a273e;
    position: absolute;
    box-sizing: border-box;
    transition: all .15s $cb_rush;
    z-index: 10; // * since mouse effect div is 2.
    cursor: url('/assets/common/cursor.png'), auto;

    @include mq (medium,max) {
        padding-top: 5px;
        height: 48px;
    }


    a {
        display: block;
        width: 100%;
        height: 100%;
        margin-top: 2px;
        font-family: $txt_cond;
        font-size: 1rem;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 4;
        letter-spacing: .16em;
        animation: vibration 2s linear infinite;

        &:active {
            letter-spacing: .44em;
        }

        @keyframes button_hover {
            0% {
                background: #202739;
                margin: -1px -2px 0 0;
            }
            50% {
                margin: 2px 2px 0 0;
            }
            59% {
                background: transparent;
            }
            60% {
                background: #202739;
                margin-top: 0;
            }
            90% {
                margin-top: -1px;
            }
            100% {
                background: transparent;
                margin-top: 1px;
            }
        }

        @include mq (medium,max) {
            line-height: 3;
        }
    }


    &:hover {
        background: $clr_light-trans;
        
        & > a {
            animation: button_hover .25s 0s linear forwards;
        }
    }
}


.btt {
    margin-top: 125px;
    text-align: center;
    transition: all .15s $cb_rush;
    &:active { transform: scale(.92);}

    a {
        color: $clr_blue-active;
        font-size: 1rem;
        font-family: $txt_cond;
        font-weight: bold;
        letter-spacing: .05em;
        text-transform: uppercase;
    }
}