<audio volume="0.65" preload="auto" id="sound_hv-01">
    <source src="/audio/glitch_01.mp3" type="audio/mpeg">
</audio>

<audio preload="auto" id="sound_hv-02">
    <source src="/audio/glitch_02.mp3" type="audio/mpeg">
</audio>

<audio preload="auto" id="sound_bgm" loop>
    <source src="/audio/bgm.mp3" type="audio/mpeg">
</audio>

<audio preload="auto" id="sound_click-01">
    <source src="/audio/click_01.mp3" type="audio/mpeg">
</audio>
