<div id="preload" class="preload loading">
    <div>
        <div>
            <div class="loadingline loadingline_up"></div>
            <div class="loadingline loadingline_down"></div>
        </div>

        <div>
            <div class="shield shield_up"></div>
            <div class="shield shield_down"></div>
        </div>

        <section class="visual">
            <figure class="">
                <picture></picture>
                <picture></picture>
                <picture></picture>
                <picture></picture>
            </figure>
        </section>

        <button type="button" class="start scramble__txt">start</button>
    </div>
</div>
