<div id="Preload" class="preload loading">
    <div>
        <div>
            <div class="loadingline loadingline_up"></div>
            <div class="loadingline loadingline_down"></div>
        </div>

        <div>
            <div class="shield shield_up"></div>
            <div class="shield shield_down"></div>
        </div>

        <section class="visual">
            <figure>
                <picture></picture>
                <picture></picture>
                <picture></picture>
                <picture></picture>
            </figure>
        </section>

        <button type="button" class="entry">
            <div class="entry_inner">
                <span class="e1">e</span>
                <span class="e2">n</span>
                <span class="e3">t</span>
                <span class="e4">r</span>
                <span class="e5">y</span>
            </div>
        </button>
    </div>
</div>
