<div id="Preload" class="preload loading">
    <div>
        <div>
            <div class="loadingline loadingline_up"></div>
            <div class="loadingline loadingline_down"></div>
        </div>

        <div>
            <div class="shield shield_up"></div>
            <div class="shield shield_down"></div>
        </div>

        <section class="visual">
            <div>{% include 'logo.njk'%}</div>
            <div>{% include 'logo.njk'%}</div>
            <div>{% include 'logo.njk'%}</div>
            <div>{% include 'logo.njk'%}</div>
        </section>

        <div class="notice">
            <p>
<span>T</span><span>h</span><span>e </span><span>w</span><span>e</span><span>b</span><span>s</span><span>i</span><span>t</span><span>e </span><span>h</span><span>a</span><span>s </span><span>s</span><span>o</span><span>u</span><span>n</span><span>d </span><span>e</span><span>f</span><span>f</span><span>e</span><span>c</span><span>t</span><span>s</span><span>.</span>
</br>
<span>P</span><span>l</span><span>e</span><span>a</span><span>s</span><span>e </span><span>c</span><span>h</span><span>e</span><span>c</span><span>k</span> <span>y</span><span>o</span><span>u</span><span>r</span> <span>d</span><span>e</span><span>v</span><span>i</span><span>c</span><span>e</span> <span>v</span><span>o</span><span>l</span><span>u</span><span>m</span><span>e</span><span>.</span>
            </p>
        </div>

        <div class="preload_ttl">
            <div class="preload_name">
                <p>uryu myao</p>
            </div>
            <p>portfolio</p>
        </div>

        <button type="button" class="entry audio_hv_02">
            <div class="entry_inner">
                <span class="enl e1">e</span>
                <span class="enl e2">n</span>
                <span class="enl e3">t</span>
                <span class="enl e4">r</span>
                <span class="enl e5">y</span>
                <div class="entry_hov"></div>
            </div>
        </button>
    </div>
</div>
