{% extends "_layout.njk" %}
{% set pagetitle = "404" %}
{% set kw = 'URYU MYAO' %}
{% set des = 'URYU MYAO' %}
<!-- * Head end -->

{% block content %}



<div id="404" data-page="404" class="child">

  <div class="bg_404">

  </div>

  <main role="404">

      <div class="404_plant">

      </div>

      <div class="404_screen">

      </div>

      <article class="404_p">
          <h1>404</h1>
          <p>
              You flew out.
          </p>
      </article>

  </main>

</div>
<!--  * CONTENTS end * -->

{% endblock %}
