{% extends "_layout.njk" %}
{% set pagetitle = "404 ｜ " %}
{% set kw = 'URYU, MYAO, URYU MYAO, ウェブデザイナー, 中国人デザイナー, 网页设计, 网站开发, design, ui, ux, development, web, javascript, js, webgl' %}
{% set des = '404. You flew out.' %}

{% block content %}


<div id="404" data-page="404">

    <div id="bg">
        <div class="bg bg_filter"></div>
        <div class="bg bg_gradient"></div>
    </div>

    <main role="404">

        <article class="p_404">
            <h1>404</h1>
            <p>
                you flew out.
                <br><span>
                Click screen to go back.
                </span>
            </p>
        </article>

        <figure class="screen_404">
            <a href="/">
                <picture></picture>
            </a>
        </figure>

        {# <figure class="plant_404">
            <picture></picture>
        </figure> #}

    </main>
</div>


{% include "script.njk" %}
{% endblock %}
