{% extends "_layout.njk" %}
{% set pagetitle = "ABOUT" %}
{% set kw = 'URYU MYAO' %}
{% set des = 'URYU MYAO' %}
<!-- * Head end -->

{% block content %}



<div id="404" data-page="404" class="child">

  {% include "_bg.njk" %}

  <main role="about">

      <!-- ** Modulized Cyber line (absolute) ** -->
      <div class="horizon horizon__top"><div></div></div>
      <div class="horizon horizon__bottom"><div></div></div>
      <!-- * end * -->

      
  </main>

</div>
<!--  * CONTENTS end * -->

{% endblock %}
