{% extends "_layout.njk" %}
{% set pagetitle = "ABOUT" %}
{% set kw = 'URYU MYAO' %}
{% set des = 'URYU MYAO' %}
<!--  head end -->

{% block content %}


<div id="about" data-page="about">

    {% include "_bg.njk" %}

    <main style="height: 2000px;">
      
        <div class="scrollProgress"><div></div></div>

        <div class="countup">
            <p id="years">00</p>
            <span>:</span>
            <p id="days">00</p>
            <span>:</span>
            <p id="hours">00</p>
            <span>:</span>
            <p id="minutes">00</p>
            <span>:</span>
            <p id="seconds">00</p>
            <span></span>
        </div>

    </main>

</div>
<!--  contents end  -->

{% endblock %}
