{% extends "_layout.njk" %}
{% set pagetitle = "TOP ｜ " %}
{% set kw = 'URYU, MYAO, URYU MYAO, ウェブデザイナー, web designer, 中国人デザイナー, 网页设计, 网站开发, design, ui, ux, development, web, javascript, js, webgl' %}
{% set des = 'I am URYU MYAO, a Japan based designer from China.' %}

{% block content %}

<!-- ** Preload Page ** -->
{% include "preload.njk" %}
<!-- ** Audio Source ** -->
{% include "audio.njk" %}


<div id="Top" data-page="top">
    <!-- ** Background ** -->
    {% include "bg.njk" %}
    
    <main class="grid_rule mz" role="main">
    
        {% include "cyberline.njk" %}

        <aside class="grid_aside">
            <div class="grid_aside_inner">

                <span class="overlay_mask _mask_blue"></span>
                <span class="overlay_mask _mask_black"></span>
                <!-- ** Menu in macro ** -->
                {% import 'menu.njk' as menu %}
                {{ menu.current('top') }}
                
                <div class="U">{% include 'logo.njk'%}</div>

                <figure class="earth"><picture></picture></figure>
                <figure class="mars"><picture></picture></figure>

                <p class="cr">© {{ basic.sitename }} {{ basic.year }}</p>
            </div> <!-- .grid_aside_inner-->
        </aside>

        <section class="grid_thum">
            <ul>
                <li>
                    <a href="/works/w01.html">
                        <figure class="grid_thum_fig">
                            <picture class="__fig_01 pic_glitch"></picture>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="/works/w02.html">
                        <figure class="grid_thum_fig">
                            <picture class="__fig_02 pic_glitch"></picture>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="/works/w03.html">
                        <figure class="grid_thum_fig">
                            <picture class="__fig_03 pic_glitch"></picture>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="/works/w04.html">
                        <figure class="grid_thum_fig">
                            <picture class="__fig_04 pic_glitch"></picture>
                            {# <video class="vhs" src="/assets/_video/thm_04.mp4" preload="none" autoplay loop mute playsinline></video> #}
                        </figure>
                    </a>
                </li>
            </ul>
        </section>

        <section class="grid_desc">

            {% include "cyberline.njk" %}

            <div class="grid_desc_up">
                <ul>
                    <li>
                        <div class="ttl_w01">
                            <h2 data-text="yoshikawa">yoshikawa</h2>
                            <p>corporate site</p>
                        </div>
                    </li>
                    <li>
                        <div class="ttl_w02">
                            <h2 data-text="hanplus">hanplus</h2>
                            <p>corporate site</p>
                        </div>
                    </li>
                    <li>
                        <div class="ttl_w03">
                            <h2 data-text="kyobe">kyobe</h2>
                            <p>corporate site</p>
                        </div>
                    </li>
                    <li>
                        <div class="ttl_w04">
                            <h2 data-text="asobista">asobista</h2>
                            <p>web service</p>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="grid_desc_down">
                <ul>
                    <!-- WORK 01 -->
                    <li>
                        <div class="badges">
                            <dl>
                                <dd class="badges_item badges_active">
                                    <p>Design</p>
                                    <div class="badges_ch badges_design"></div>
                                    <!-- ** level status ** -->
                                    <div class="badges_level __level_6"><span></span><span></span><span></span><span></span><span></span><span></span>
                                    </div>
                                </dd>
                                <dd class="badges_item badges_active">
                                    <p>DEV.</p>
                                    <div class="badges_ch badges_dev"></div>
                                    <!-- ** level status ** -->
                                    <div class="badges_level __level_5"><span></span><span></span><span></span><span></span><span></span><span></span>
                                    </div>
                                </dd>
                                <dd class="badges_item">
                                    <p>Direction</p>
                                    <div class="badges_ch badges_direction"></div>
                                    <!-- ** level status ** -->
                                    <div class="badges_level"><span></span><span></span><span></span><span></span><span></span><span></span>
                                    </div>
                                </dd>
                            </dl>
                        </div> <!-- .badges -->
                        <button type="button" class="btn btn_glitch audio_hv_01">
                            <a href="/works/w01.html" role="button">details</a>
                        </button>
                    </li> 
                    <!-- WORK 02 -->
                    <li>
                        <div class="badges">
                            <dl>
                                <dd class="badges_item badges_active">
                                    <p>Design</p>
                                    <div class="badges_ch badges_design"></div>
                                    <!-- ** level status ** -->
                                    <div class="badges_level __level_6"><span></span><span></span><span></span><span></span><span></span><span></span>
                                    </div>
                                </dd>
                                <dd class="badges_item badges_active">
                                    <p>DEV.</p>
                                    <div class="badges_ch badges_dev"></div>
                                    <!-- ** level status ** -->
                                    <div class="badges_level __level_6"><span></span><span></span><span></span><span></span><span></span><span></span>
                                    </div>
                                </dd>
                                <dd class="badges_item badges_active">
                                    <p>Direction</p>
                                    <div class="badges_ch badges_direction"></div>
                                    <!-- ** level status ** -->
                                    <div class="badges_level __level_6"><span></span><span></span><span></span><span></span><span></span><span></span>
                                    </div>
                                </dd>
                            </dl>
                        </div> <!-- .badges -->
                        <button type="button" class="btn btn_glitch audio_hv_01">
                            <a href="/works/w02.html" role="button">details</a>
                        </button>
                    </li>
                    <!-- WORK 03 -->
                    <li>
                        <div class="badges">
                            <dl>
                                <dd class="badges_item badges_active">
                                    <p>Design</p>
                                    <div class="badges_ch badges_design"></div>
                                    <!-- ** level status ** -->
                                    <div class="badges_level __level_1"><span></span><span></span><span></span><span></span><span></span><span></span>
                                    </div>
                                </dd>
                                <dd class="badges_item badges_active">
                                    <p>DEV.</p>
                                    <div class="badges_ch badges_dev"></div>
                                    <!-- ** level status ** -->
                                    <div class="badges_level __level_5"><span></span><span></span><span></span><span></span><span></span><span></span>
                                    </div>
                                </dd>
                                <dd class="badges_item">
                                    <p>Direction</p>
                                    <div class="badges_ch badges_direction"></div>
                                    <!-- ** level status ** -->
                                    <div class="badges_level"><span></span><span></span><span></span><span></span><span></span><span></span>
                                    </div>
                                </dd>
                            </dl>
                        </div> <!-- .badges -->
                        <button type="button" class="btn btn_glitch audio_hv_01">
                            <a href="/works/w03.html" role="button">details</a>
                        </button>
                    </li>
                    <!-- WORK 04 -->
                    <li>
                        <div class="badges">
                            <dl>
                                <dd class="badges_item badges_active">
                                    <p>Design</p>
                                    <div class="badges_ch badges_design"></div>
                                    <!-- ** level status ** -->
                                    <div class="badges_level __level_3"><span></span><span></span><span></span><span></span><span></span><span></span>
                                    </div>
                                </dd>
                                <dd class="badges_item">
                                    <p>DEV.</p>
                                    <div class="badges_ch badges_dev"></div>
                                    <!-- ** level status ** -->
                                    <div class="badges_level"><span></span><span></span><span></span><span></span><span></span><span></span>
                                    </div>
                                </dd>
                                <dd class="badges_item badges_active">
                                    <p>Direction</p>
                                    <div class="badges_ch badges_direction"></div>
                                    <!-- ** level status ** -->
                                    <div class="badges_level __level_4"><span></span><span></span><span></span><span></span><span></span><span></span>
                                    </div>
                                </dd>
                            </dl>
                        </div> <!-- .badges -->
                        <button type="button" class="btn btn_glitch audio_hv_01">
                            <a href="/works/w04.html" role="button">details</a>
                        </button>
                    </li>
                </ul>
            </div>
        </section> <!-- grid_desc -->

        <section class="grid_prev">
            <div class="banner_middle">
                <ul>
                    <li>
                        <figure>
                            <picture class="__sub_04 pic_glitch"></picture>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <picture class="__sub_01 pic_glitch"></picture>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <picture class="__sub_02 pic_glitch"></picture>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <picture class="__sub_03 pic_glitch"></picture>
                        </figure>
                    </li>
                </ul>
            </div>
            <div class="banner_motion"></div>

        </section>

        <section class="grid_next">
            <div class="banner_motion"></div>
            <div class="banner_middle">
                <ul>
                    <li>
                        <figure>
                            <picture class="__sub_02 pic_glitch"></picture>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <picture class="__sub_03 pic_glitch"></picture>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <picture class="__sub_04 pic_glitch"></picture>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <picture class="__sub_01 pic_glitch"></picture>
                        </figure>
                    </li>
                </ul>
            </div>
        </section>

        <section class="grid_prog">
            <div class="grid_prog_inner">

                <div class=""></div>
                <div class=""></div>

                <ol>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ol>
            </div>
        </section>

        <div class="BGM _pause">
            <div>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </main>
</div> <!-- #top -->


{% include "script.njk" %}
{% endblock %}

