{% extends "_layout.njk" %}
{% set pagetitle = "TOP" %}
{% set kw = 'URYU MYAO' %}
{% set des = 'URYU MYAO' %}
<!--  head end  -->

{% block content %}


<div id="top" data-page="top">

    {% include "_bg.njk" %}

    <main class="grid__layout" role="main">
        <div class="horizon horizon__top"><div></div></div>
        <div class="horizon horizon__bottom"><div></div></div>

        <aside class="grid__aside">
            <div>
                <div class="logo">
                    <h1>logo</h1>
                </div>
                <nav class="controller" role="navigation">

                </nav>
                <picture class="moon">
                    <img src="{{ data.root }}images/top/moon.png" alt="moon" />
                </picture>
                <p class="cr">© {{ basic.sitename }} 2018</p>
            </div>
        </aside>

        <section class="grid__prev">
            <div>

            </div>
        </section>


        <section class="grid__curS">
            <div class="horizon horizon__top"><div></div></div>
            <div class="horizon horizon__bottom"><div></div></div>

            {% for current in current %}
            <a href="/work/{{ current.link }}.html">
                <figure class="__cur-show">
                    <picture class="__{{ current.class }}"></picture>
                </figure>
            </a>
            {% endfor %}

        </section>


        <section class="grid__curI">
            <div class="horizon horizon__top"><div></div></div>
            <div class="horizon horizon__bottom"><div></div></div>

            <div class="__curI-ttl">
                {% for desc1 in desc1 %}
                <div class="">
                    <h2>
                    {{ desc1.name }}
                    </h2>
                    <p>
                    {{ desc1.cat }}
                    </p>
                </div>
                {% endfor %}
            </div>
            <div class="__curI-desc">
                {% for desc2 in desc2 %}
                <div>
                    <dl>
                        <dt>client</dt>
                        <dd>{{ desc2.client }}</dd>
                    </dl>
                    <dl>
                        <dt>{{ desc2.role1 }}</dt>
                        <dd>{{ desc2.item1 }}</dd>
                    </dl>
                    <dl>
                        <dt>{{ desc2.role2 }}</dt>
                        <dd>{{ desc2.item2 }}</dd>
                    </dl>
                    <dl>
                        <dt>employer</dt>
                        <dd>
                            <a href="https://www.econosys.jp/" target="_blank">
                            {{ desc2.employer }}
                            </a>
                        </dd>
                    </dl>
                </div>
                <button type="button" class="glitch__txt">
                    <a href="{{ data.root }}work/" role="button">DETAILS</a>
                </button>
                {% endfor %}
            </div>

        </section>


        <section class="grid__next">
            <div class="__bar">
                <div>
                    <p>next</p>
                </div>
            </div>
            <div class="">
                <a href="#">
                    <figure>
                        <picture class=""></picture>
                    </figure>
                </a>
            </div>
        </section>

        <section class="grid__prog">
            <div>
                <ol>
                    <li class="__prog-dots __prog-active"></li>
                    <li class="__prog-dots"></li>
                    <li class="__prog-dots"></li>
                </ol>
            </div>
        </section>

    </main>
</div>
<!--  contents end  -->

{% endblock %}
