{% import '_nav_macro.njk' as nav %}
{{ nav.active('about') }}



<div class="gallery">

  {% for image in assets %}
  <div class="gallery__item">
      <img src="{{ image.src }}" alt="{{ image.alt }}">
  </div>
  {% endfor %}

</div>
