{% extends "_layout.njk" %}
{% set pageTitle = "SHOW_1" %}
<!--  head end -->

{% block content %}

<div id="about" data-page="about">

    {% include "_bg.njk" %}

    <main>

    </main>

</div>
<!--  contents end  -->

{% endblock %}
