// Safe fonts
$safeType_en: 'Arial Narrow',
'Gill Sans',
'Gill Sans MT',
Arial,
sans-serif;
$safeType_jp: '游ゴシック体',
'YuGothic',
'游ゴシック',
'Yu Gothic UI',
'Yu Gothic',
'ＭＳ Ｐゴシック',
'MS PGothic';
$safeType_ch: 'SF Pro SC',
'SF Pro Display',
'PingFang SC',
'Hiragino Sans GB',
'Microsoft YaHei New',
'Microsoft Yahei',
'微软雅黑';

// Google fonts


// Color
$black: rgba(10, 12, 20, 1);
$grey: #717490;
$red: #D14836;


// Media query
$mq-breakpoints: ('xsmall' : 320px,
  'small' : 600px,
  'medium' : 768px,
  'large' : 1024px,
  'xlarge' : 1360px,
  'xxlarge' : 1440px,
);


// Cubic-bezier
$cb_rush: cubic-bezier(.6, .01, .58, .99);


// easy switch
.pc {
  display: block;
}

.sp {
  display: none;
}

@media only screen and (max-width: 768px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }
}
