@charset "UTF-8";


// Fjalla - Google Font
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

// Source sans pro - Google Font
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

// Anton - Google Font
@import url('https://fonts.googleapis.com/css?family=Anton');

// Source Code Pro - Google Font
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
