// T Y P O

$safeType_en: 'Arial Narrow', 'Gill Sans', 'Gill Sans MT', Arial, sans-serif;
$safeType_jp: '游ゴシック体', 'YuGothic', '游ゴシック', 'Yu Gothic UI', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic';
$safeType_ch: 'SF Pro SC', 'SF Pro Display', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei New', 'Microsoft Yahei', '微软雅黑';

$txt_en: 'opens';
$txt_cond: 'Fjalla One';
$txt_norm: 'Source Sans Pro';
$num: 'Montserrat';


// C O L O R

$clr-dark: rgba(10, 12, 20, 1);
$clr-dark-trans: rgba(4, 7, 10, .6);
$clr-secondary: #00a7d4;
$clr-light: #d2d5f9;

// $red: rgba(255, 0, 30, 1);
$red: #D14836;
// $blue: #2779A7;
$activeBlue: #1b58d3;
$mainBlue: #303595;


// M Q

$mq-breakpoints: (

    'xsmall'  : 320px,
    'small'   : 600px,
    'medium'  : 768px,
    'large'   : 1024px,
    'xlarge'  : 1280px,
    'xxlarge' : 1440px,

);
