// T Y P O
//
$safeType_en: 'Arial Narrow', 'Gill Sans', 'Gill Sans MT', Arial, sans-serif;
$safeType_jp: '游ゴシック体', 'YuGothic', '游ゴシック', 'Yu Gothic UI', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic';
$safeType_ch: 'SF Pro SC', 'SF Pro Display', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei New', 'Microsoft Yahei', '微软雅黑';

$txt_en: 'opens';
$txt_cond: 'Fjalla One';

$num: 'Montserrat';

$text-size: 1.2rem;

// C O L O R

$color-secondary: #00a7d4;
$dark: black;
$light: #d2d5f9;
// $red: rgba(255, 0, 30, 1);
$red: #D14836;
// $blue: #2779A7;
$blue: #3116f8;
// $blue: rgba(23, 111, 246, 1);
$dark-trans: rgba(5, 7, 10, .8);

// L A Y O U T


$g-row-s: 9.070294785vh;
$g-row-main: calc( 100vh - 9.070294785vh - 9.070294785vh - 40px );

// M E D i A

$breakpoints: (

    sm:  screen and (max-width: 400px),
    md:  screen and (max-width: 768px),
    lg:  screen and (max-width: 1000px),
    xl:  screen and (max-width: 1200px),

) !default;
