// T Y P O

// --- Safe fonts
$safeType_en: 'Arial Narrow', 'Gill Sans', 'Gill Sans MT', Arial, sans-serif;
$safeType_jp: '游ゴシック体', 'YuGothic', '游ゴシック', 'Yu Gothic UI', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic';
$safeType_ch: 'SF Pro SC', 'SF Pro Display', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei New', 'Microsoft Yahei', '微软雅黑';

// --- Google fonts
$txt_en: 'opens';
$txt_cond: 'Fjalla One';
$txt_norm: 'Source Sans Pro';
$txt_code: 'Source Code Pro', monospace;


// C O L O R

$clr_dark: rgba(10, 12, 20, 1);
$clr_dark-trans: rgba(4, 7, 10, .6);
$clr_secondary: #00a7d4;
$clr_light: #d2d5f9;
$clr_light-trans: rgba( 202,217,245,.04 );

$clr_red: #D14836;
$clr_blue-active: #1b58d3;
$clr_blue-main: #303595;
$clr_blue-light: #9aade9;
$clr_blue-grey: #323d4f;


// D I S T A N C E

$wd_work-dtl: 85.2272%;


// M Q

$mq-breakpoints: (

    'xsmall'  : 320px,
    'small'   : 600px,
    'medium'  : 768px,
    'large'   : 1024px,
    'xlarge'  : 1280px,
    'xxlarge' : 1440px,

);


// Cubic-bezier

$cb_rush: cubic-bezier(.6,.01,.58,.99);


// Extend Para

.tras { transition: all 1s cubic-bezier(.39,.06,.39,.99);}
