// Grid Admin
//
.grid_rule {
    width: 100%;
    height: calc( 100% - 40px );
    height: calc( 100vh - 40px );
    display: grid;
    grid-template-columns: 4.9fr 10.8333fr 3.6667fr 1fr;
    grid-template-rows: 12.7vh 6vh 1fr 6vh 12.7vh;
    grid-gap: 10px 10px;
    grid-template-areas:
      'aside prev prev prog'
      'aside prev prev prog'
      'aside curS curI prog'
      'aside next next prog'
      'aside next next prog';
/*
    @include mq ( medium ) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5vh 1fr 8vh;
        grid-gap: 10px 10px 10px;
        grid-template-areas:
          'aside aside'
          'CurS CurS'
          'prev next';
    }; */
}


// Aside
//
.grid_aside {
    grid-area: aside;
    height: 100%;
    background: $clr_dark-trans;
    animation: flashing .2s 2s linear infinite;

    @keyframes flashing {
      0% {
          background: transparent;
      }
      50% {
          background: transparent;
      }
    }

    .cr {
        font-size: 1rem;
        font-weight: bold;
        font-family: $txt_norm;
        letter-spacing: .15em;
        color: $clr_blue-grey;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        position: absolute;
        bottom: 60px;
        left: 3vw;
        margin: 0;
    }
}

.grid_aside_inner {
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



// Progress
//
.grid_prog {
    height: 100%;
    background: $clr_dark-trans;
    grid-area: prog;
    position: relative;

    & ol { width: 30%;}

    &_inner {
        width: 100%;
        height: 100%;
        @include flex (center, center);
        flex-direction: column;
    }

    &_dots {
        display: block;
        width: 100%;
        height: 1px;
        margin: 6px 0;
        background: #2c374c;
    }
}

.dots_active { background: white;}







// Child contents
//
.grid_content {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 5;
    height: calc( 100% - 40px );
    height: calc( 100vh - 40px );
}
