// Grid Admin
//
.grid_rule {
    width: 100%;
    height: calc( 100% - 40px );
    height: calc( 100vh - 40px );
    display: grid;
    grid-template-columns: 4.9fr 10.8333fr 3.6667fr 1fr;
    grid-template-rows: 12.7vh 6vh 1fr 6vh 12.7vh;
    grid-gap: 10px 10px;
    grid-template-areas:
      'aside prev prev prog'
      'aside prev prev prog'
      'aside curS curI prog'
      'aside next next prog'
      'aside next next prog';

    @include mq (medium, max) {
        grid-template-columns: calc( 50% - 5px ) calc( 50% - 5px );
        grid-template-rows: 12.5vh 1fr 25vh 10vh;
        grid-gap: 10px;
        grid-template-areas:
          'aside aside'
          'CurS CurS'
          'CurS CurS'
          'prev next';
    }
}


// Aside
//
.grid_aside {
    grid-area: aside;
    height: 100%;
    background: $clr_dark-trans;
    animation: flashing .2s 2s linear infinite;

    @keyframes flashing {
      0% { @include clr-opacity ( $clr_dark-trans, .35 );}
      50% { @include clr-opacity ( $clr_dark-trans, .35 );}
    }

    .cr {
        font-size: 1rem;
        font-weight: bold;
        font-family: $txt_norm;
        letter-spacing: .15em;
        color: $clr_blue-grey;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        position: absolute;
        bottom: 60px;
        left: 3vw;
        margin: 0;

        @include mq (medium,max) { display: none;}
    }
}

.grid_aside_inner {
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



// Child contents
//
.grid_content {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 5;
    height: calc( 100% - 40px );
    height: calc( 100vh - 40px );

    @include mq (medium,max) {
      grid-column: 1 / span 2;
      grid-row: 2 / span 2;
    }
}
