// General
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

body {
    font-family: $safeType_en, $safeType_jp, $safeType_ch; // Safe fonts
    color: black;
    background: $clr_dark;
}

p, dt, dd, li, a {
    font-family: $txt_norm;
    letter-spacing: .15em;
}

.col-2 {
    display: flex;
    justify-content: space-between;
}



// Preload
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

.preload {
    width: 100%;
    padding: 20px;
    background: black;
    position: fixed;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 999;
    animation: glitchSwift .8s linear forwards;

    & > div {
        position: relative;
        height: calc( 100% - 40px );
        height: calc( 100vh - 40px );
        z-index: 2;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('/assets/common/noise.png');
            background-repeat: repeat;
            animation: 1s infinite noise;
            z-index: 3;
        }
    }
}

@keyframes noise {
    0%, 100% { background-position: 0 0;}
    10% { background-position: -5% -10%;}
    20% { background-position: -15% 5%;}
    30% { background-position: 7% -25%;}
    40% { background-position: 20% 25%;}
    50% { background-position: -25% 10%;}
    60% { background-position: 15% 5%;}
    70% { background-position: 0% 15%;}
    80% { background-position: 25% 35%;}
    90% { background-position: -10% 10%;}
}

.loadingline {
    position: absolute;
    width: 0;
    height: 1px;
    left: 50%;
    background: $clr_blue-main;
    z-index: 20;
    transform: translateX(-50%);
    transition: all 1.5s $cb_rush;

    &_up {
        top: 0;

        &::before, &::after {
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            background: $clr_blue-active;
            top: -2px;
            opacity: 0;
            transition: all .8s linear;
        }
        &::before { left: -2px;}
        &::after { right: -2px;}
    }

    &_down {
        bottom: 0;

        &::before, &::after {
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            background: $clr_blue-active;
            top: -2px;
            opacity: 0;
            transition: all .8s linear;
        }
        &::before { left: -2px;}
        &::after { right: -2px;}
    }
}

.shield {
    width: calc( 100% );
    height: 0;
    position: absolute;
    background: $clr_dark;
    transition: all .2s $cb_rush;
    z-index: 10;

    &_up { top: 0;}
    &_down { bottom: 0;}
}

.visual {
    position: absolute;
    @include center(both);
    z-index: 10;
}

.entry {
    position: absolute;
    bottom: calc( 10vh - 10px );
    padding: 1em;
    @include center(horizontal);
    background: transparent;
    color: $clr_blue-active;
    font-size: 1.45rem;
    font-family: $txt_cond;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    transition: all .3s $cb_rush;
    z-index: 10;

    &_inner { position: relative;}

    span {
        margin: 0 -1px;
        opacity: 0;
    }

    &:hover { background: $clr-light-trans;}
}

// during Top loading
.loading {
    .shield { height: calc( 50vh - 20px );}
}

// Top loaded
.loaded {
    background: rgba(0,0,0,.9);

    .loadingline {
        width: 100%;
        background: $clr_blue-grey;

        &_up {
            &::before, &::after { opacity: 1;}
        }
        &_down {
            &::before, &::after { opacity: 1;}
        }
    }
}

.vhs {
    animation: glitchSwift .2s linear forwards;
}



// Background
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

#bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

.bg {
    width: 100%;
    height: 100vh;
    height: 100%;
}

.bg_filter {
    position: absolute;
    opacity: 1;
    z-index: 2;
    background:
    {
        image: url(/assets/common/noise.png);
        repeat: repeat;
    };
    animation: 1s infinite noise;
}

.bg_gradient {
    position: absolute;
    animation: bgGradient 15s linear infinite;
    opacity: .85;
    background: linear-gradient(
        -30deg,
        rgba(0, 0, 0, .25),
        rgba(7, 16, 40, .7),
        rgba(32, 53, 107, .85)
    );
    background-size: 400% 400%;
}

@keyframes bgGradient {
    0% { background-position: 0 100%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 100%; }
}



// Common
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

div[data-page='top'],
div[data-page='about'],
div[data-page='works']
{
    padding: 20px;
    box-sizing: border-box;

    main { position: relative;}
  }

.grid_thum,
.grid_desc
{
    .horizon {
        position: absolute;
        width: 100%;
        z-index: 10;
    }
    .horizon_top { top: -1px;}
    .horizon_bottom { bottom: -1px;}
}

@keyframes tinkle {
    0% { opacity: 0;}
    100% { opacity: 1;}
}


// Top
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

div[data-page='top'] {
    overflow: hidden;

    #logo {
        color: $clr_red;
        z-index: 2;
        @include center (both);
    }
}

// aside

.earth {
    position: absolute;
    display: block;
    width: 62px;
    height: 62px;
    bottom: 200px;
    right: -62px;
    animation: plantrail 30s 1s linear infinite;

    picture {
        display: block;
        height: 62px;
        @include bg-image (auto, 0, /assets/top/earth, png, center, cover, no-repeat);
    }
}

.mars {
    position: absolute;
    display: block;
    width: 100%;
    height: 140px;
    bottom: 0;
    left: 0;

    picture {
        opacity: .35;
        display: block;
        width: 100%;
        height: 100%;
        @include bg-image (auto, 0, /assets/top/mars, png, top 0px right 35%, cover, no-repeat);
    }
}

@keyframes plantrail {
    0% {
        bottom: 260px;
        right: -62px;
    }
    100% {
        bottom: 160px;
        right: 100%;
    }
}

// Current show

.grid_thum {
    grid-area: curS;
    width: 100%;
    position: relative;
    overflow: hidden;

    ul, li { height: 100%;}

    li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        visibility: hidden;
    }

    a {
        z-index: 2;

        &:hover {
            // -webkit-filter: hue-rotate(90deg) invert(0.1) saturate(3) sepia(0.4);
        }
    }

    picture {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        // opacity: 0;
        // transform: scale(.96);
        transition: all .2s $cb_rush;
    }

    figure {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(
                transparentize(#121010,1) 50%,
                transparentize(darken(#121010,10),0.75) 50%),
                linear-gradient(90deg, transparentize(#ff0000,0.94),
                transparentize(#00ff00,0.98),
                transparentize(#0000ff,0.94));
            background-size: 100% 2px, 3px 100%;
            z-index: 10;
        }
    }

    .__fig_01 {
        @include bg-image (auto, 0, /assets/top/thm_01, gif, center, cover, no-repeat);
    }
    .__fig_02 {
        @include bg-image (auto, 0, /assets/top/thm_02, gif, center, cover, no-repeat);
    }
    .__fig_03 {
        @include bg-image (auto, 0, /assets/top/thm_03, gif, center, cover, no-repeat);
    }
    .__fig_04 {
        @include bg-image (auto, 0, /assets/top/thm_04, gif, center, cover, no-repeat);
    }

    // Slider controling
    li.current {
        visibility: visible;

        picture {
            // opacity: .94;
            // transform: scale(1);
            // transition-delay: 0;
            animation: glitchSwift 2s linear forwards;
        }
    }
}


.grid_thum_fig {
    height: 100%;
    position: relative;
    object-fit: cover;
    align-self: stretch;
    overflow: hidden;
}

// Description

.grid_desc {
    grid-area: curI;
    color: white;
    position: relative;
}

.grid_desc_up {
    margin-bottom: 10px;
    box-sizing: border-box;
    position: relative;
    background: black;
    height: calc( 33% - 10px );
    text-align: center;

    li {
        @include center ( both );
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 8px;
        visibility: hidden;
    }

    h2 {
        font-family: $txt_cond;
        font-size: 1.89rem;
        letter-spacing: .16em;
        line-height: 1;
        white-space: nowrap;
        text-transform: uppercase;
        overflow: hidden;
        opacity: 0;
        transition: all .4s $cb_rush;
        transition-delay: .5s;
    }

    p {
        color: $clr_blue-main;
        font-family: $txt_code;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: .18em;
        margin: 1.8em auto 0;
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        opacity: 0;
        transition: all .5s $cb_rush;
        transition-delay: .65s;
    }

    // Slider controling
    li.current {
        visibility: visible;

        h2 { opacity: 1;}

        p { opacity: 1;}
    }
}

.grid_desc_down {
    text-transform: uppercase;
    position: relative;
    background: black;
    height: 67%;
    width: 100%;
    padding: 16% 0 0;
    box-sizing: border-box;
    margin: 0 auto;

    .badges {
        margin-top: 15px;
        width: 80%;
        margin: 0 auto;
    }

    .btn {
        width: calc( 100% - 24%);
        @include center (horizontal);
        bottom: 16%;
    }
}

// Prev & Next

.grid_prev {
    grid-area: prev;
    overflow: hidden;

    .banner_middle {
        height: calc( 100% - 65px );
        margin-bottom: 10px;
    }

    li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        visibility: hidden;
    }

    picture {
        transition: all .3s $cb_rush;
        opacity: 0;
        transform: translateY(20px);
        transition-delay: .2s;

        &:hover {
            filter: brightness(1.5) invert(.2);
        }
    }

    // Slider controling
    li.current {
        visibility: visible;

        picture {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.grid_next {
    grid-area: next;
    overflow: hidden;

    li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        visibility: hidden;
    }

    picture {
        transition: all .3s $cb_rush;
        opacity: 0;
        transform: translateY(20px);
        transition-delay: .35s;

        &:hover {
            filter: brightness(1.5) invert(.2);
        }
    }

    // Slider controling
    li.current {
        visibility: visible;

        picture {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.banner_middle {
    position: relative;
    height: 100%;
    opacity: .22;
    overflow: hidden;

    ul,li { height: 100%;}

    figure, picture {
        height: 100%;
        display: block;
    }
}

.__sub_01 {
    @include bg-image (auto, 0, /assets/top/sub_01, png, center, cover, no-repeat);
}
.__sub_02 {
    @include bg-image (auto, 0, /assets/top/sub_02, png, center, cover, no-repeat);
}
.__sub_03 {
    @include bg-image (auto, 0, /assets/top/sub_03, png, center, cover, no-repeat);
}
.__sub_04 {
    @include bg-image (auto, 0, /assets/top/sub_04, png, center, cover, no-repeat);
}

// Progress

.grid_prog {
    height: 100%;
    background: $clr_dark-trans;
    grid-area: prog;
    position: relative;

    & ol { width: 20%;}

    &_inner {
        width: 100%;
        height: 100%;
        @include flex (center, center);
        flex-direction: column;
    }

    li {
        display: block;
        width: 100%;
        height: 1px;
        margin: 4px 0;
        background: #2c374c;
        transition: all .3s $cb_rush;
    }

    .current {
        background: $clr_blue-active;
    }
}



// About
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

div[data-page='about'] {

    article { position: relative;}

    h1 {
        color: $clr_blue-main;
        font-family: $txt_code;
        font-size: 1.78rem;
        text-transform: uppercase;
        letter-spacing: .25em;
        margin-left: 5vw;
    }

    .__ttl {
        position: relative;
        z-index: 10;

        & > div:first-child {
            margin: 0 0 8vh 5vw;
        }
    }

    .grid_content {
        position: relative;
        overflow: scroll;
    }

    .grid_aside {
        height: calc( 100% - 40px );
        height: calc( 100vh - 40px );

        & > div {
            width: 100%;
            flex-direction: column-reverse;
            // @include bg-image (auto, 0, /assets/about/aside, gif, center, cover, no-repeat);
            opacity: 1;
        }
    }
}

.me { padding-top: 8vh;}

.introduce {
    margin-top: calc( 8vh - (38.5px * 1.45 / 4) );
    position: relative;
    z-index: 10;
}

.txt_en {
    font-family: $txt_code;
    font-size: 2.915vw;
    line-height: 1.45;
    letter-spacing: .03em;
    color: white;
    z-index: 10;
    margin-left: 5vw;
}

.txt_ch {
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: .16em;
    color: $clr_blue-light;
    margin: 4vh 10% 4vh 38%;
    z-index: 10;
}

.countup {
    width: 630px;
    bottom: 305px;
    left: -274px;
    position: absolute;
    transform: rotate(-90deg);
    z-index: 2;

    &::after {
        content: 'BE BORN';
        position: absolute;
        transform: rotate(90deg);
        top: 36px;
        left: -52px;
        font-family: 'Anton', sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
        color: #353842;
        letter-spacing: .25em;
    }

    p {
        height: 75px;
        display: inline-block;
        font-family: 'Anton', sans-serif;
        font-size: 8rem;
        line-height: 1;
        letter-spacing: .01em;
        margin: 0;
        color: black;
    }

    span {
        color: black;
        font-size: 8rem;
        margin: 0 8px;
    }
}

.sns {
    display: flex;
    align-items: center;
    position: absolute;
    top: 125px;
    right: 20%;
    z-index: 10;

    li {
        margin: 0 18px;
    }

    li:first-child { margin-left: 0;}
    li:last-child { margin-right: 0;}

    .i__github { svg { width: 30.8px; height: 30px;}}
    .i__ins { svg { width: 34px; height: 12.2px;}}

    .svg_clr-sns { fill: #568fff;}
}

.brush {
    position: relative;

    &::after {
        content: url(/assets/about/brush.png);
        position: absolute;
        top: -4px;
        left: -18px;
    }
}

.paper {
    width: 65%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    picture {
        display: inline-block;
        position: relative;
        height: calc( 660px + 13vw );
        @include bg-image (auto, 0, /assets/about/paper, png, center, cover, no-repeat);

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: calc( 100% - 5vw );
            height: 100%;
            background: rgba( 0,0,0,.35 );
            top: 0;
            left: 0;
        }
    }
}

.svg_clr { fill: $clr_blue-main;}

.svg_me { width: 220px; height: 72.7px;}
.svg_resume { width: 130.6px; height: 72.4px;}
.svg_contact { width: 133.5px; height: 72.4px;}

.svg_wheel {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 50%;
  left: -4vw;
  animation: rotatingWheel 10s infinite linear;

  .svg_clr { fill: $clr_blue-grey;}
}

.__wheel-fast {
    animation-duration: 3s;

    .svg_clr { fill: $clr_blue-main;}
}

@keyframes rotatingWheel {
    0% { transform: translateY(-50%) rotate(0deg);}
    100% { transform: translateY(-50%) rotate(360deg);}
}

.resume {
    position: relative;
    padding: 8vh 0 8vh;
    background: #172126;
    z-index: 1;
    overflow: hidden;

    h1 {
        & > span,
        span {
            font-family: $txt_cond;
            font-size: 1.25rem;
            font-weight: normal;
            color: white;
            letter-spacing: .16em;

            span {
                color: #495863;
            }
        }

        & > span { margin-left: 4em;}
        & > span:last-child { margin-left: 1.2em;}
    }

    &::before {
        content: url(/assets/about/noise.png);
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
    }

    button {
        width: 200px;
        position: absolute;
        bottom: 8vh;
        right: 9vw;
    }

    & > a {
        font-size: 1.2rem;
        color: $clr_blue-active;
        font-family: $txt_cond;
        font-weight: bold;
        letter-spacing: .16em;
        position: absolute;
        right: calc( 9vw + 200px + 5vw );
        bottom: calc( 8vh + 15px );
    }
}

.history {
    position: relative;
    margin: 8vh calc( 5vw + 4vw ) 13vh;
    box-sizing: border-box;
    z-index: 2;

    & > div {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        margin-bottom: 2vh;
        position: relative;

        &:last-child { margin-bottom: 0;}
    }

    h2 {
        font-family: $txt_cond;
        color: white;
        text-transform: uppercase;
        font-size: 1.8rem;
        letter-spacing: .25rem;
        margin-bottom: 2vh;
    }

    p { text-transform: capitalize;}

    .tag {
        font-family: $txt_cond;
        font-weight: bold;
        color: white;
        background: $clr_blue-main;
        padding: 6px 12px 5px;
        display: inline;
        letter-spacing: .18em;
    }

    .due {
        color: $clr_blue-main;
        font-family: $txt_code;
        font-size: 1.3rem;
        letter-spacing: .02em;
        margin: 18px 0 0;
    }

    .place {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 3vw;
        box-sizing: border-box;
        width: 24vw;
        height: 150px;
        margin-top: 5px;
        background: #1f2a33;
    }

    .job {
        margin: 0 0 0 50px;
        display: flex;
        align-items: center;
        height: 150px;

        p {
            color: $clr_blue-light;
            font-family: $txt_norm;
            font-size: 1.6rem;
            letter-spacing: .095em;
            line-height: 1.8;
            margin: 0;
        }
    }

    .question {
        @include center( vertical );
        right: 0;
    }
}

.contact {
    margin-top: 110px;

    h1 {
        & + p {
            color: $clr_blue-light;
            line-height: 1.75;
            margin: -2px 0 0 4%;
        }
    }

    .__ttl {
        & > div:last-child { display: flex;}
    }
}

.dropMessages {
    position: relative;

    div {
        background: rgba( 26, 38, 46, .3);
        width: 86%;
        height: 20vh;
        margin: 8vh auto 13vh;
        display: flex;
        align-items: center;
        justify-content: center;
        @extend .tras;

        &:hover { background: rgba( 26, 38, 46, 1);}
    }

    p {
        text-transform: uppercase;
        color: white;
        font-family: $txt_cond;
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: .2em;
        padding-bottom: 2px;
        position: relative;
        z-index: 2;
    }

    figure {
        @include center(both);
        z-index: 1;
    }

    svg {
        width: 51px;
        height: 73.2px;
    }

    .svg__send { fill: black;}
}



// Works
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
div[data-page='works'] {

    .grid_content {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .fs {
        height: 100%;

        picture {
            display: block;
            height: 100%;

            @include bg-image (auto, 0, /assets/top/thm_01, gif, center, cover, no-repeat);
        }
    }

    article {
        margin-top: 10px;
        background: black;
        padding: 11.5vh 0 20px;

        h2 {
            color: #2e354c;
            font-family: $txt_cond;
            font-size: 1.35rem;
            font-weight: bold;
            letter-spacing: .16em;
            line-height: 1;
            text-transform: uppercase;
            margin-bottom: 4.5vh;
        }
    }
}

.works_header {
    width: $wd_work-dtl;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include clr-opacity ( $clr_blue-main, .2 );
    margin: 0 auto;
    padding: 8vh 9.33333%;
    box-sizing: border-box;

    h1 {
        color: white;
        font-family: $txt_cond;
        font-size: 2rem;
        letter-spacing: .16em;
        line-height: 1;
        white-space: nowrap;
        text-transform: uppercase;
    }

    p {
        color: $clr_blue-main;
        font-family: $txt_code;
        font-size: 1.35rem;
        font-weight: bold;
        letter-spacing: .16em;
        margin: 0;
        text-transform: capitalize;
        white-space: nowrap;
    }
}

.works_detail {
    width: $wd_work-dtl;
    margin: 10vh auto 0;
    padding: 0 9.33333%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .badges {
        width: auto;
        z-index: 2;

        & + p {
            line-height: 1.6;
            margin-left: 3.45vw;
            z-index: 2;
        }
    }

    .badges ol { justify-content: flex-start;}

    .badges li {
        width: 5vw;
        min-width: 72px;
        height: 5.5vw;
        min-height: 80px;
        margin-right: 10px;

        &:last-child { margin-right: 0;}
    }

    &_role {
        width: 100%;

        & > div {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    &_agency {
        width: 40%;
        margin: -1vh 0 0 60%;
        z-index: 2;

        svg {
            width: 8px;
            height: 7px;
            fill: $clr_blue-main;
        }
    }

    &_graph {
        width: 50%;
        margin: 14.5vh 0 0 0;
        position: relative;

        .question {
            top: 1px;
            right: 0;
        }
    }

    &_story {
        width: 40%;
        margin-top: 32vh;
        position: relative;

        & > div {
            padding: 11.5vh 0;
        }

        p {
            width: 100%;
            font-size: 1.25rem;
            line-height: 1.8;
            letter-spacing: .16em;
            text-align: justify;
            color: $clr_blue-light;
        }
    }

    &_others {
        width: 100%;
        margin-top: 4vh;
        position: relative;

        h2 { text-align: center;}

        button {
            max-width: 200px;
            top: calc( 4.5vh + 1.35rem);
            @include center( horizontal );
        }
    }

    &_ctl {
        margin-top: 20vh;
        display: flex;
        justify-content: space-between;

        a {
            width: calc( 100% / 2 - 10px );
        }

        a:last-child {
            .banner_motion {
                div { margin-left: calc( 35% - 3em );}
            }
        }
    }
}



.works_detail_role > div > p,
.works_detail_agency > p,
.works_detail_agency > a
{
    color: $clr_blue-main;
    font-family: $txt_code;
    font-size: 1.35rem;
    font-weight: bold;
    letter-spacing: .135em;
    margin: 0;
    white-space: nowrap;
}

.caseImg {
    width: 100%;
    opacity: .1;

    figure {
        position: relative;
        z-index: 1;
    }

    picture {
        height: 300px;
        position: absolute;
        display: block;
        transform: rotate(-35deg) skew(29deg, 13deg);
        transform-origin: left center;
    }

    &_01 {
        top: 0;
        left: 0;
        @include bg-image (auto, 0, /assets/works/w01/caseimg_01, png, center, cover, no-repeat);
    }
    &_02 {
        top: -84px;
        left: 204px;
        @include bg-image (auto, 0, /assets/works/w01/caseimg_01, png, center, cover, no-repeat);
    }
    &_03 {
        top: 100px;
        left: 0;
        @include bg-image (auto, 0, /assets/works/w01/caseimg_02, png, center, cover, no-repeat);
    }
    &_04 {
        top: -150px;
        left: 216px;
        @include bg-image (auto, 0, /assets/works/w01/caseimg_02, png, center, cover, no-repeat);
    }
    &_05 {
        top: 10px;
        left: 543px;
        @include bg-image (auto, 0, /assets/works/w01/caseimg_02, png, center, cover, no-repeat);
    }
}

.caseSP {
    margin: 18vh 0 0 4vw;

    figure { width: 200px;}
}

.casePC {
    margin: -5vh 0 0 4vw;

    figure { width: 400px;}
}




// 404
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
div[data-page='404'] {
    color: white;
    position: relative;

    main > * { position: absolute;}
    picture { display: block;}
}

.p_404 {
    top: 10vh;
    @include center( horizontal );
    color: $clr_blue-grey;

    h1 {
        font-size: 14rem;
        font-weight: bold;
        line-height: 1;
        letter-spacing: .1em;
    }

    p {
        font-size: 1.65rem;
        font-weight: bold;
        line-height: 1;
        letter-spacing: .2rem;
        text-align: center;

        span {
            font-size: 1.2rem;
            line-height: 1;
            display: inline-block;
            margin-top: 1em;
        }
    }
}

.screen_404 {
    width: 200px;
    left: 4vw;
    bottom: 10vh;
    box-shadow: 0px 0px 10px white;
    animation: screen_flash 1s infinite 0s linear;

    picture {
        display: block;
        height: 200px;
        @include bg-image (auto, 0, /assets/404/screen, png, center, cover, no-repeat);
    }
}

.plant_404 {
    width: 400px;
    right: 0;
    bottom: 0;
    animation: floating 1s infinite 0s linear;

    picture {
        height: 200px;
        @include bg-image (auto, 0, /assets/404/plant, png, center, cover, no-repeat);
    }
}

@keyframes screen_flash {
    0% { box-shadow: 0px 0px 10px white;}
    100% { box-shadow: 0px 0px 10px white;}
}

@keyframes floating {
    0% {
        top: 1px;
        left: 1vw;
    }
    100% {
        top: 1px;
        left: 1vw;
    }
}
