body {
  font-family: $safeType_en, $safeType_jp, $safeType_ch;
  color: black;
}
// cursor: url('../images/cursor.gif'), url('../images/cursor.cur'), auto;

p, dt, dd, li, a {
  font-family: $txt_norm;
  letter-spacing: .15em;
}


// Preload
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
#preload {
  width: 100%;
  height: 100%;
  height: 100vh;
  background: black;
  position: fixed;
  z-index: 999;

  .shield {
    width: 100%;
    height: 50vh;
    position: absolute;
    background: $clr-dark;
  }

  .shield__up {
    top: 0;
  }

  .shield__down {
    bottom: 0;
  }
}

// Background
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
#bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

.bg {
  width: 100%;
  height: 100vh;
  height: 100%;
}

.bg__filter {
  position: absolute;
  opacity: 0.02725;
  z-index: 2;
  background:
  {
    image: url(/images/common/noise.gif);
    repeat: repeat;
  }
}

.bg__gradient {
  position: absolute;
  animation: bgGradient 15s linear infinite;
  opacity: .85;
  background: linear-gradient(
    -30deg,
    rgba(0, 0, 0, .25),
    rgba(7, 16, 40, .7),
    rgba(32, 53, 107, .85)
  );
  // background: radial-gradient(circle at 100%, rgba(0, 0, 0, .2), rgba(7, 16, 40, .6) 50%, rgba(32, 53, 107, .6) 75%);
  background-size: 400% 400%;
}

@keyframes bgGradient {
  0% { background-position: 0 100% }
  50% { background-position: 100% 100% }
  100% { background-position: 0% 100% }
}


// Common
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

// Grid Admin
//
.grid__layout {
  width: 100%;
  height: calc( 100% - 40px );
  height: calc( 100vh - 40px );
  display: grid;
  grid-template-columns: 4.9fr 10.8333fr 3.7667fr 1fr;
  grid-template-rows: 12.7vh 6vh 1fr 6vh 12.7vh;
  grid-gap: 10px 10px;
  grid-template-areas:
    'aside prev prev prog'
    'aside prev prev prog'
    'aside curS curI prog'
    'aside next next prog'
    'aside next next prog';
}

// Common styles
//
div[data-page='top'],
div[data-page='about']
{
  padding: 20px;
  box-sizing: border-box;

  main {
    position: relative;
  }
}

.horizon {
  width: 100%;
  height: 1px;
  background: #323d4f;
  position: absolute;
  z-index: 20;

  div {
    position: relative;
    width: 100%;

    &:before, &:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      background: $clr-light;
      top: -2px;
    }
    &:before { left: -2px;}
    &:after { right: -2px;}
  }
}

.horizon__top { top: 0;}
.horizon__bottom { bottom: 0;}

// botton
//
button {
  width: 100%;
  color: white;
  background: $clr-dark;
  height: 42px;
  border-left: 2px solid $clr-secondary;
  border-right: 2px solid $clr-secondary;
  position: absolute;
  padding-top: 2px;
  box-sizing: border-box;
  cursor: pointer;

  a {
    display: block;
    width: 100%;
    height: 100%;
    font-family: $txt_cond;
    color: white;
    text-transform: uppercase;
    line-height: 3.4;
    letter-spacing: .25em;

    &:hover {
      animation: button_hover .25s 0s linear forwards;
    }

    @keyframes button_hover {
      0% {
        background: #202739;
        margin: -1px -2px 0 0;
      }
      50% {
        margin: 2px 2px 0 0;
      }
      59% {
        background: transparent;
      }
      60% {
        background: #202739;
        margin-top: 0;
      }
      90% {
        margin-top: -1px;
      }
      100% {
        background: transparent;
        margin-top: 1px;
      }
    }
  }
}



// Top
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
div[data-page='top'] {
  overflow: hidden;
}
// aside
//
.grid__aside {
  height: 100%;
  background: $clr-dark-trans;
  grid-area: aside;
  animation: noise .2s 2s linear infinite;

  @keyframes noise {
    0% {
      background-image: {
        image: url(/images/common/noise.gif);
        repeat: repeat;
      }
    }
    50% {
      background: transparent;
    }
    99% {
      background-image: {
        image: url(/images/common/noise.gif);
        repeat: repeat;
      }
    }
    100% {
      background: transparent;
    }
  }

  & > div {
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .logo {
    color: $red;
    margin-top: 10vh;
    z-index: 10;
    @include center (horizontal);
  }

  .cr {
    font-size: 1rem;
    font-family: $txt_norm;
    letter-spacing: .15em;
    color: #343434;
    text-align: center;
    margin: 0 0 20px 0;
  }
}

.moon {
  position: absolute;
  opacity: .55;
  top: 174px;
  left: -174px;
  animation: moonrail 30s 1s linear infinite;
}

@keyframes moonrail {
  0% {
    top: 174px; left: -174px;
  }
  100% {
    top: -174px; left: 174px;
  }
}



// Current show
//
.grid__curS {
  grid-area: curS;
  width: 100%;
  position: relative;

  .__cur-show {
    height: 100%;
    position: relative;
    object-fit: cover;
    align-self: stretch;
    overflow: auto;

    &:hover {
      -webkit-filter: hue-rotate(90deg) invert(0.1) saturate(3) sepia(0.4);
    }

    & picture {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: .94;
    }

    .__cur-s1 {
      @include bg-image (auto, 0, /images/top/video_s1, gif, center, cover, no-repeat);
    }
    // .__cur-s2 {
    //   @include bg-image (auto, 0, /images/top/video_s2, gif, center, cover, no-repeat);
    // }
    // .__cur-s3 {
    //   @include bg-image (auto, 0, /images/top/video_s3, gif, center, cover, no-repeat);
    // }
  }
}

.grid__curI {
  grid-area: curI;
  color: white;
  position: relative;
}

.__curI-ttl {
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
  background: black;
  height: calc( 30% - 10px );

  & > div {
    @include center ( horizontal );
    top: 5.5vh;
    margin-left: -4px;
  }

  h2 {
    // font-family: $txt_en;
    font-family: $txt_cond;
    font-size: 1.89rem;
    letter-spacing: .25em;
    line-height: normal;
    white-space: nowrap;
    text-transform: uppercase;
  }

  p {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .3em;
    margin: 1.4em auto 0;
  }
}

.__curI-desc {
  text-transform: uppercase;
  position: relative;
  background: black;
  height: 70%;
  padding: 55px 10% 3vh;
  box-sizing: border-box;

  & > div {
    position: absolute;
    width: calc( 100% - 20% );
  }

  dl {
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 300px;
    text-align: left;
  }

  dl > * {
    align-self: center;
    white-space: nowrap;
    font-size: 1rem;
    font-family: $txt_cond;
    letter-spacing: .18em;
    line-height: 1;

  }

  dt {
    color: #627e99;
    grid-column: 1;
    font-weight: normal;
  }

  dd {
    grid-column: 2;
    color: black;
    font-weight: bold;
    background: $clr-secondary;
    padding: 4px 12px 2px;
    box-sizing: border-box;
    margin: 5px 0 5px 20px;

    a {
      font-family: inherit;
      color: inherit;
    }
  }

  button {
    width: calc( 100% - 20%);
    bottom: 50px;
  }

}


// Prev & Next
//

.grid__prev {
  grid-area: prev;
  overflow: hidden;

  .__midbar {
    height: calc( 100% - 65px );
    margin-bottom: 10px;
  }
}

.grid__next {
  grid-area: next;
  overflow: hidden;
}

.__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  margin-bottom: 10px;
  background: {
    image: url(/images/common/pttn.png);
    repeat: repeat;
  }
  animation: stripe .5s 0s linear infinite;

  & > div {
    background: $clr-dark;
    width: 86%;
    overflow: hidden;
  }

  p {
    font-family: $txt_norm;
    font-size: 1.35rem;
    letter-spacing: .2em;
    color: #2c383f;
    margin: 0;
    padding: 10px 0;
    white-space: nowrap;
  }
}

@keyframes stripe {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 9px;
  }
}

.__midbar {
  height: 100%;
  opacity: .22;

  a {
    height: 100%;
    display: block;
  }

  figure, picture {
    height: inherit;
    display: block;
  }
}

.__next-s1 {
  @include bg-image (auto, 0, /images/top/next_s1, png, center, cover, no-repeat);
}

.__prev-s1 {
  @include bg-image (auto, 0, /images/top/prev_s1, png, center, cover, no-repeat);
}


// Progress
//
.grid__prog {
  height: 100%;
  background: $clr-dark-trans;
  grid-area: prog;

  & > div {
    width: 100%;
    height: 100%;
    @include flex (center, center);
    flex-direction: column;
  }

  & ol {
    width: 40%;
  }
}

.__prog-dots {
  display: block;
  width: 100%;
  height: 6px;
  margin: 3px 0;
  background: #2c374c;
}

.__prog-active {
  background: white;
}


// About
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
