// General
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

body {
    font-family: $safeType_en, $safeType_jp, $safeType_ch;
    color: black;
}
// cursor: url('../images/cursor.gif'), url('../images/cursor.cur'), auto;

p, dt, dd, li, a {
    font-family: $txt_norm;
    letter-spacing: .15em;
}



// Preload
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

#preload {
    width: 100%;
    height: 100%;
    height: 100vh;
    background: black;
    position: relative;
    z-index: 999;

    .shield {
        width: 100%;
        height: 50vh;
        position: absolute;
        background: $clr_dark;
        transition: all .15s ease-out;
    }
}

.shield__up   { top: 0;}
.shield__down { bottom: 0;}

.line__close {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 1px;
    background: white;
}

.hide .shield__up   { top: -100%;}
.hide .shield__down { bottom: -100%;}



// Background
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

#bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

.bg {
    width: 100%;
    height: 100vh;
    height: 100%;
}

.bg__filter {
    position: absolute;
    opacity: 0.02725;
    z-index: 2;
    background:
    {
        image: url(/images/common/noise.gif);
        repeat: repeat;
    }
}

.bg__gradient {
    position: absolute;
    animation: bgGradient 15s linear infinite;
    opacity: .85;
    background: linear-gradient(
        -30deg,
        rgba(0, 0, 0, .25),
        rgba(7, 16, 40, .7),
        rgba(32, 53, 107, .85)
    );
    background-size: 400% 400%;
}

@keyframes bgGradient {
    0% { background-position: 0 100% }
    50% { background-position: 100% 100% }
    100% { background-position: 0% 100% }
}


// Common
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

// Grid Admin
//

.grid__rule {
    width: 100%;
    height: calc( 100% - 40px );
    height: calc( 100vh - 40px );
    display: grid;
    grid-template-columns: 4.9fr 10.8333fr 3.6667fr 1fr;
    grid-gap: 10px 10px;
}
.__gTop {
    grid-template-rows: 12.7vh 6vh 1fr 6vh 12.7vh;
    grid-template-areas:
      'aside prev prev prog'
      'aside prev prev prog'
      'aside curS curI prog'
      'aside next next prog'
      'aside next next prog';
}

// Common styles
//

div[data-page='top'],
div[data-page='about']
{
    padding: 20px;
    box-sizing: border-box;

    main { position: relative;}
  }

.horizon {
    width: calc( 100% - 40px );
    height: 1px;
    background: #323d4f;
    position: fixed;
    z-index: 20;

    div {
      position: relative;
      width: 100%;

      &::before, &::after {
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          background: $clr_blur-active;
          top: -2px;
      }
      &::before { left: -2px;}
      &::after { right: -2px;}
  }
}

.horizon__top { top: 20px;}
.horizon__bottom { bottom: 20px;}

.grid__curS,
.grid__curI
{
    .horizon {
        position: absolute;
        width: 100%;
        z-index: 10;
    }
    .horizon__top { top: -1px;}
    .horizon__bottom { bottom: -1px;}
}


// botton
//

button {
    width: 100%;
    color: white;
    background: $clr_light-trans;
    height: 42px;
    border-left: 2px solid $clr_blur-active;
    border-right: 2px solid $clr_blur-active;
    position: absolute;
    padding-top: 2px;
    box-sizing: border-box;
    cursor: pointer;

    a {
        display: block;
        width: 100%;
        height: 100%;
        font-family: $txt_cond;
        color: white;
        text-transform: uppercase;
        line-height: 3.4;
        letter-spacing: .25em;

        &:hover {
          animation: button_hover .25s 0s linear forwards;
        }

        @keyframes button_hover {
            0% {
                background: #202739;
                margin: -1px -2px 0 0;
            }
            50% {
                margin: 2px 2px 0 0;
            }
            59% {
                background: transparent;
            }
            60% {
                background: #202739;
                margin-top: 0;
            }
            90% {
                margin-top: -1px;
            }
            100% {
                background: transparent;
                margin-top: 1px;
            }
        }
    }
}



// Top
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

div[data-page='top'] { overflow: hidden;}

// aside
//

.grid__aside {
    height: 100%;
    background: $clr_dark-trans;
    animation: noise .2s 2s linear infinite;

    @keyframes noise {
      0% {
          background: transparent;
      }
      50% {
          background: transparent;
      }
    }

    .cr {
        font-size: 1rem;
        font-weight: bold;
        font-family: $txt_norm;
        letter-spacing: .15em;
        color: #343434;
        text-align: center;
        margin: 0 0 20px 0;
    }

    & > div {
        position: relative;
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.__asideTop {
    grid-area: aside;

  .logo {
      color: $clr_red;
      margin-top: 10vh;
      z-index: 10;
      @include center (horizontal);
  }
}

.moon {
    position: absolute;
    opacity: .55;
    top: 174px;
    left: -174px;
    animation: moonrail 30s 1s linear infinite;
}

@keyframes moonrail {
    0% {
        top: 174px;
        left: -174px;
    }
    100% {
        top: -174px;
        left: 174px;
    }
}



// Current show
//

.grid__curS {
    grid-area: curS;
    width: 100%;
    position: relative;

    .__cur-show {
        height: 100%;
        position: relative;
        object-fit: cover;
        align-self: stretch;
        overflow: auto;

      &:hover {
          -webkit-filter: hue-rotate(90deg) invert(0.1) saturate(3) sepia(0.4);
      }

      & picture {
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: .94;
      }

      .__cur-s1 {
          @include bg-image (auto, 0, /images/top/video_s1, gif, center, cover, no-repeat);
      }
      // .__cur-s2 {
      //     @include bg-image (auto, 0, /images/top/video_s2, gif, center, cover, no-repeat);
      // }
      // .__cur-s3 {
      //     @include bg-image (auto, 0, /images/top/video_s3, gif, center, cover, no-repeat);
      // }
    }
}

.grid__curI {
    grid-area: curI;
    color: white;
    position: relative;
}

.__curI-ttl {
    margin-bottom: 10px;
    box-sizing: border-box;
    position: relative;
    background: black;
    height: calc( 30% - 10px );

    & > div {
        @include center ( horizontal );
        top: 5.5vh;
        margin-left: -4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h2 {
        font-family: $txt_cond;
        font-size: 1.89rem;
        letter-spacing: .25em;
        line-height: normal;
        white-space: nowrap;
        text-transform: uppercase;
    }

    p {
        color: $clr_blue-main;
        font-family: $txt_courier;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: .1em;
        margin: 1.4em auto 0;
        white-space: nowrap;
    }
}

.__curI-desc {
    text-transform: uppercase;
    position: relative;
    background: black;
    height: 70%;
    width: 100%;
    padding: 4vh 0;
    box-sizing: border-box;
    margin: 0 auto;

    & > div {
        width: 80%;
        margin: 0 auto;
    }

    .graph {
        display: block;
        height: 104px;
        @include clr-opacity ( #001eff, .12 );
    }

    .badges {

        ol {
            display: flex;
            justify-content: space-between;
        }

        li {
            width: 30%;
            height: 72px;
            position: relative;
            clip-path: polygon(19% 0, 100% 0, 100% 86%, 81% 100%, 0 100%, 0 14%);
            @include clr-opacity ( $clr_blue-main, .34 );
        }

        P {
            position: absolute;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            margin: 0;
            font-family: $txt_cond;
            letter-spacing: .045em;
            top: 4px;
            right: 4px;
            opacity: .1;
        }

        .badge__ch {
            width: 18px;
            height: 26px;
            margin: 1.8vh 0 0 1.23vw;
            opacity: .1;
            background: {
                repeat: no-repeat;
                size: cover;
            }
        }

        .__badge-design { background-image: url( /images/top/badge_01.svg );}
        .__badge-dev { background-image: url( /images/top/badge_02.svg );}
        .__badge-direction { background-image: url( /images/top/badge_03.svg );}

        .badge__li {
            display: flex;
            justify-content: flex-start;
            width: 60%;
            position: absolute;
            left: .6vw;
            bottom: 10px;

            span {
                width: 4px;
                height: 6px;
                margin-right: 2px;
                @include clr-opacity ( #6b6d41, .28 );

            }
        }

        .badges_active {
            background-image: linear-gradient(
            #232a8b, #0b1940);

            .badge__ch { opacity: 1;}
            .badge__li span { background: #6b6d41;}

            // &:before {
            //     position: absolute;
            //     content: '';
            //     display: block;
            //     width: 15px;
            //     height: 8px;
            //     border-top: 2px solid $clr_blur-active;
            //     border-right: 2px solid $clr_blur-active;
            //     top: 0;
            // }
        }

        .__level-1 {
            & > span:nth-child(-n+1) { background: #f0ff00; }
        }
        .__level-2 {
            & > span:nth-child(-n+2) { background: #f0ff00; }
        }
        .__level-3 {
            & > span:nth-child(-n+3) { background: #f0ff00; }
        }
        .__level-4 {
            & > span:nth-child(-n+4) { background: #f0ff00; }
        }
        .__level-5 {
            & > span:nth-child(-n+5) { background: #f0ff00; }
        }
        .__level-6 {
            & > span:nth-child(-n+6) { background: #f0ff00; }
        }
        .__level-7 {
            & > span:nth-child(-n+7) { background: #f0ff00; }
        }
    }

    button {
        width: calc( 100% - 24%);
        bottom: 4vh;
        @include center (horizontal);
    }

    // dl {
    //     display: grid;
    //     grid-template-columns: auto 1fr;
    //     max-width: 300px;
    //     text-align: left;
    //     margin: 0;
    //
    //     @include mq (large) {
    //         @include mq (xlarge, max, true ) {
    //             grid-template-columns: 1fr;
    //             grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    //         }
    //     }
    // }
    //
    // dl > * {
    //     align-self: center;
    //     white-space: nowrap;
    //     font-size: 1rem;
    //     font-family: $txt_cond;
    //     letter-spacing: .18em;
    //     line-height: 1;
    // }
    //
    // dt {
    //     color: #627e99;
    //     grid-column: 1;
    //     font-weight: normal;
    // }
    //
    // dd {
    //     grid-column: 2;
    //     color: black;
    //     font-weight: bold;
    //     background: $clr_blue-main;
    //     width: calc( 100% - 10% );
    //     margin: 5px 0 5px 10%;
    //     padding: 4px 12px 2px;
    //     box-sizing: border-box;
    //     white-space: nowrap;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //
    //     a {
    //         font-family: inherit;
    //         color: inherit;
    //     }
    // }
}



// Prev & Next
//

.grid__prev {
    grid-area: prev;
    overflow: hidden;

    .__midbar {
        height: calc( 100% - 65px );
        margin-bottom: 10px;
    }
}

.grid__next {
    grid-area: next;
    overflow: hidden;
}

.motionBar {
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 10px 3em;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: {
        image: url(/images/common/pttn.png);
        repeat: repeat;
    }
    animation: stripe .5s linear 0s infinite;

    & > div {
        background: black;
        width: 65%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    p {
        position: absolute;
        font-family: $txt_cond;
        font-size: 1.585rem;
        font-weight: bold;
        letter-spacing: .25em;
        text-transform: uppercase;
        color: #001d2d;
        margin: 0;
        white-space: nowrap;
        @include center(vertical);
        animation: movingleft 3s linear 0s infinite;
    }

    @keyframes stripe {
        0%   { background-position-x: 0px;}
        100% { background-position-x: 9px;}
    }

    @keyframes movingleft {
        0%   { left: -50px;}
        100% { left: 0px;}
    }
}



.__midbar {
    height: 100%;
    opacity: .22;

    a {
        height: 100%;
        display: block;
    }

    figure, picture {
        height: inherit;
        display: block;
    }
}

.__next-s1 {
    @include bg-image (auto, 0, /images/top/next_s1, png, center, cover, no-repeat);
}

.__prev-s1 {
    @include bg-image (auto, 0, /images/top/prev_s1, png, center, cover, no-repeat);
}


// Progress
//

.grid__prog {
    height: 100%;
    background: $clr_dark-trans;
    grid-area: prog;

    & > div {
        width: 100%;
        height: 100%;
        @include flex (center, center);
        flex-direction: column;
    }

    & ol { width: 30%;}
}

.__prog-dots {
    display: block;
    width: 100%;
    height: 6px;
    margin: 3px 0;
    background: #2c374c;
}

.__prog-active { background: white;}



// About
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

div[data-page='about'] {
    h1 {
        color: $clr_blue-main;
        font-family: $txt_courier;
        font-size: 1.9rem;
        text-transform: uppercase;
        letter-spacing: .3em;
    }
    .__ttl {
        position: relative;
        z-index: 10;
    }
}

.__gAbout { overflow: scroll;}

.__asideAbout {
    grid-column-start: 1;
    grid-column-end: 2;
    height: calc( 100% - 40px );
    height: calc( 100vh - 40px );

    & > div {
        width: 100%;
        flex-direction: column-reverse;
        @include bg-image (auto, 0, /images/about/aside, gif, center, cover, no-repeat);
        opacity: .09;
    }
}

.grid__contentsAbout {
    grid-column-start: 2;
    grid-column-end: 5;
    height: calc( 100% - 40px );
    height: calc( 100vh - 40px );
    overflow: scroll;

    article {
        position: relative;
        padding-left: 35px;

        .__ttl {
            & > div:first-child {
                margin: 0 0 90px 5vw;
            }
        }
    }

    .motionBar {
        height: 75px;

        p { text-transform: uppercase;}
    }
}

.me { padding-top: 60px;}

.svg__clr { fill: $clr_blue-main;}

.svg__me { width: 220px; height: 72.7px;}
.svg__resume { width: 130.6px; height: 72.4px;}
.svg__contact { width: 133.5px; height: 72.4px;}

.introduce {
    margin-top: 72px;
    position: relative;
    z-index: 10;
}

.txt__en {
    font-size: 3.85rem;
    line-height: 1.45;
    letter-spacing: .03em;
    color: white;
    z-index: 10;
}

.txt__ch {
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: .16em;
    color: #9aade9;
    margin: 40px 0 23px 35%;
    z-index: 10;
}

// #typing {
//
//     &::after {
//         content: "|";
//         animation: blink 500ms linear infinite alternate;
//     }
//
//     @keyframes blink {
//       	0%   { opacity: 0;}
//       	100% { opacity: 1;}
//     }
// }

.countup {
    width: 630px;
    bottom: 305px;
    left: -274px;
    position: absolute;
    transform: rotate(-90deg);
    z-index: 2;

    &::after {
        content: 'BE BORN';
        position: absolute;
        transform: rotate(90deg);
        top: 36px;
        left: -52px;
        font-family: 'Anton', sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
        color: #353842;
        letter-spacing: .25em;
    }

    p {
        height: 75px;
        display: inline-block;
        font-family: 'Anton', sans-serif;
        font-size: 8rem;
        line-height: 1;
        letter-spacing: .01em;
        margin: 0;
        color: black;
    }

    span {
        color: black;
        font-size: 8rem;
        margin: 0 8px;
    }
}

.sns {
    display: flex;
    align-items: center;
    position: absolute;
    top: 125px;
    right: 20%;
    z-index: 10;

    li {
        margin: 0 18px;
        cursor: pointer;
    }

    li:first-child { margin-left: 0;}
    li:last-child { margin-right: 0;}

    i { cursor: pointer;}

    .i__github { svg { width: 30.8px; height: 30px;}}
    .i__ins { svg { width: 34px; height: 12.2px;}}

    .svg__clr-sns { fill: #568fff;}
}

.brush {
    position: relative;

    &::after {
        content: url(/images/about/brush.png);
        position: absolute;
        top: -4px;
        left: -18px;
    }
}

.paper {
    width: 65%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    picture {
        display: inline-block;
        position: relative;
        height: 835px;
        @include bg-image (auto, 0, /images/about/paper, png, center, cover, no-repeat);

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: calc( 100% - 5vw );
            height: 752px;
            background: rgba( 0,0,0,.35 );
            top: 0;
            left: 0;
        }
    }
}

.resume {
    position: relative;
    padding-top: 35px;
    background: #172126;
    padding-bottom: 140px;
    z-index: 1;
    overflow: hidden;

    h1 {
        span {
            font-family: $txt_cond;
            font-size: 1.25rem;
            font-weight: normal;
            color: white;
            letter-spacing: .2em;
            margin-left: 15px;
        }
    }

    &::before {
        content: url(/images/about/noise.png);
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
    }

    button {
        width: 200px;
        position: absolute;
        bottom: -12px;
        right: 5vw;
    }
}

.history {
    position: relative;
    background: #1b262d;
    margin: 72px 5vw 0 0;
    box-sizing: border-box;
    z-index: 2;

    & > div {
        display: flex;
        align-items: flex-start;
        padding: 65px 10vw 55px;
        border-bottom: 1px solid #212573;
    }

    & > div:last-child { border: 0;}

    h2 {
        font-family: $txt_cond;
        color: white;
        text-transform: uppercase;
        font-size: 1.8rem;
        letter-spacing: .25rem;
        margin-bottom: 21px;
    }

    .tag {
        font-family: $txt_cond;
        font-weight: bold;
        color: white;
        background: $clr_blur-active;
        padding: 6px 12px 5px;
        display: inline;
    }

    .due {
        color: $clr_blue-main;
        font-family: $txt_courier;
        font-size: 1.4rem;
        letter-spacing: .02em;
        margin-top: 18px;
    }

    .place {
        width: 24vw;
        min-width: 213px;
        margin-top: 5px;
    }

    .job {
        color: $clr_blue-light;
        font-family: $txt_norm;
        font-size: 1.6rem;
        letter-spacing: .085em;
        line-height: 1.8;
    }
}

.contact {
    margin-top: 110px;

    h1 {
        & + p {
            color: $clr_blue-light;
            line-height: 1.75;
            margin: -2px 0 0 4%;
        }
    }

    .__ttl {
        & > div:last-child { display: flex;}
    }
}

.dropMessages {
    position: relative;

    div {
        background: rgba( 26, 38, 46, .3);
        width: 86%;
        height: 20vh;
        margin: 80px auto 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        @extend .tras;

        &:hover { background: rgba( 26, 38, 46, 1);}
    }

    p {
        text-transform: uppercase;
        color: white;
        font-family: $txt_cond;
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: .2em;
        padding-bottom: 2px;
        position: relative;
        z-index: 2;
    }

    figure {
        @include center(both);
        z-index: 1;
    }

    svg {
        width: 51px;
        height: 73.2px;
    }

    .svg__send { fill: black;}
}
