body {
  font-family: $safeType_en, $safeType_jp, $safeType_ch;
  font-size: 1.6em;
  color: black;
}
// cursor: url('../images/cursor.gif'), url('../images/cursor.cur'), auto;


// Background
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
#bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

.bg {
  width: 100%;
  height: 100vh;
  height: 100%;
}

.bg__filter {
  position: absolute;
  opacity: 0.02725;
  z-index: 2;
  background:
  {
    image: url(../images/common/noise.gif);
    repeat: repeat;
  }
}

.bg__gradient {
  position: absolute;
  animation: bgGradient 15s linear infinite;
  opacity: .85;
  background: linear-gradient(
    -30deg,
    rgba(0, 0, 0, .25),
    rgba(7, 16, 40, .7),
    rgba(32, 53, 107, .85)
  );
  // background: radial-gradient(circle at 100%, rgba(0, 0, 0, .2), rgba(7, 16, 40, .6) 50%, rgba(32, 53, 107, .6) 75%);
  background-size: 400% 400%;
}

@keyframes bgGradient {
  0% { background-position: 0 100% }
  50% { background-position: 100% 100% }
  100% { background-position: 0% 100% }
}


// Common
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

// Grid Admin
//
.grid__layout {
  width: 100%;
  height: calc( 100% - 40px );
  height: calc( 100vh - 40px );
  display: grid;
  grid-template-columns: 4.9fr 10.8333fr 3.7667fr 1fr;
  grid-template-rows: 12.7vh 6vh 1fr 6vh 12.7vh;
  grid-gap: 10px 10px;
  grid-template-areas:
    'aside prev prev prog'
    'aside prev prev prog'
    'aside curS curI prog'
    'aside next next prog'
    'aside next next prog';
}

// Common styles
//
div[data-page='top'],
div[data-page='about']
{
  padding: 20px;
  box-sizing: border-box;

  main {
    position: relative;
  }
}

.horizon {
  width: 100%;
  height: 1px;
  background: #323d4f;
  position: absolute;
  z-index: 20;

  div {
    position: relative;
    width: 100%;

    &:before, &:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      background: $light;
      top: -2px;
    }
    &:before { left: -2px;}
    &:after { right: -2px;}
  }
}

.horizon__top { top: 0;}
.horizon__bottom { bottom: 0;}

// botton
//
[role="button"] {
  color: white;
  text-decoration: uppercase;
}


// Top
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

// aside
//
.grid__aside {
  height: 100%;
  background: $dark-trans;
  grid-area: aside;

  & > div {
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.moon {
  position: absolute;
  opacity: .7;
  top: -100px;
  left: -174px;
  animation: moonrail 40s 1s linear infinite;
}

@keyframes moonrail {
  0% {
    top: -100px;
    left: -174px;
  }
  100% {
    top: calc( 40% + 174px );
    left: calc( 100% + 174px );
  }
}

.cr {
  font-size: 1rem;
  color: #343434;
  text-align: center;
}

// Current show
//
.grid__curS {
  grid-area: curS;
  width: 100%;
  position: relative;

  .__cur-show {
    height: 100%;
    position: relative;
    object-fit: cover;
    align-self: stretch;
    overflow: auto;

    &:hover {
      -webkit-filter: hue-rotate(90deg) invert(0.1) saturate(3) sepia(0.4);
    }

    & picture {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: .94;
    }

    .__s1 {
      @include bg-image (auto, 0, /images/top/video_s1, gif, center, cover, no-repeat);
    }
    .__s2 {
      @include bg-image (auto, 0, /images/top/video_s2, gif, center, cover, no-repeat);
    }
    .__s3 {
      @include bg-image (auto, 0, /images/top/video_s3, gif, center, cover, no-repeat);
    }
  }
}

.grid__curI {
  grid-area: curI;
  color: white;
  position: relative;

  & > div {
    background: black;

    h2 {
      font-family: 'fjalla';
      font-size: 1.89rem;
      letter-spacing: .26em;
      line-height: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      font-size: .946rem;
      letter-spacing: .35em;
      margin: 1.4em auto 0;
    }
  }

  .__curI-ttl {
    margin-bottom: 10px;
    padding: 3em 15%;
    box-sizing: border-box;
  }

  .__curI-desc {
    text-transform: uppercase;

    dt {
      color: #627e99;
      font-size: 1em;
      font-weight: normal;
    }

    dd {
      color: skyblue;
      font-size: .9em;
      font-weight: normal;
    }
  }
}


// Prev
//
.grid__prev {
  grid-area: prev;
  background: black;
}

// Next
//
.grid__next {
  grid-area: next;
  background: black;
}

.__bar {
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    background: black;
    width: 86%;
    overflow: hidden;
  }

  p {
    white-space: nowrap;
    font-size: .9rem;
    padding: 4px 0;
  }
}


// Progress
//
.grid__prog {
  height: 100%;
  background: $dark-trans;
  grid-area: prog;

  & > div {
    width: 100%;
    height: 100%;
    @include flex (center, center);
    flex-direction: column;
  }

  & ol {
    width: 40%;
  }
}

.__prog-dots {
  display: block;
  width: 100%;
  height: 6px;
  margin: 3px 0;
  background: #2c374c;
}

.__prog-active {
  background: white;
}


// About
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
